[2013-08-13 16:19] DaAwesomeP opened #1 "PHP Parse error: syntax error, unexpected 'use' (T_USE)"
Hi,
I have used composer for a long time and have been able to avoid using namespaces. This is the first library I have needed to use one. Here is my code:

[code]

It output's this in the log:

[code]

Do I need to put the first line somewhere else? Thanks for any help!

PHP 5.5.1
Apache 2.4.4
Windows 8 x86

[2013-08-15 23:07] #1 closed, assigned to nobody

[2013-08-19 07:22] asgrim opened #4 "Readme needs to be fixed"
#2 intended to fix the readme, but it's still broken, GaretJax != Gary Keith.

Fix it.

[2013-08-20 06:46] #4 closed, assigned to nobody

[2013-08-26 23:00] quentin389 opened #7 "You can update the code to a new version."
I've pushed a new update on https://github.com/GaretJax/phpbrowscap
It bumps the version from `1.0` to `2.0b` and has a lot of changes. See the list here:
https://github.com/GaretJax/phpbrowscap/blob/master/CHANGELOG.md

If you're interesting in continuing your fork of GaretJax project you may want to update your code, it should provide a lot of benefits to whoever uses this repo.

Btw, the change

[2013-09-14 20:34] #7 closed, assigned to nobody

[2014-02-13 14:55] croensch opened #10 "is the locking mechanism for the cache really working?"
I noticed this library uses a cache file. My experience with file caching in PHP is that simple things like `file_put_contents()` versus `require()` or `file_get_contents()` often fail in multi-core environments. Speaking a multi-core server with Apache in preforking mode.

I've seen it in other libraries for example Zend_Cache_File, breaking our production environment with empty cache files whene

[2014-04-09 13:35] jiripsota opened #16 "Chrome Canary detection not work"
Hello,
I'm trying last version of Chrome Canary www.google.com/intl/en/chrome/browser/canary.html (MacOS X). There is a problem with version detection. I'm using latest version of browscap-php from composer. Best regards.

[code]

[2014-04-09 13:54] #16 closed, assigned to nobody

[2014-04-13 06:01] ammont opened #17 "[2.x] Browscap fails to get browscap.ini file and it can not handle the exception"
When I try to use browscap I get this error:

file_get_contents(http://browscap.org/version): failed to open stream: Operation timed out

I guess the library should be able to handle such exceptions.

[2014-04-14 10:48] ammont opened #18 "Problem with browscap->updateCache()"
exception 'ErrorException' with message 'parse error, expecting `']'' in storage/browscap/browscap.ini on line 25154
' in /vendor/browscap/browscap-php/src/phpbrowscap/Browscap.php:521

[2014-04-15 08:12] #18 closed, assigned to nobody

[2014-04-25 07:14] alunz opened #19 "Tablet detection"
Hey,

i tested the class with some different devices everything went fine but when i came to my ipad the "getBrowser()" function returns an Object where "isTablet" is set to false but "Device_Type" is "Tablet". In my Opinion the "isTablet" variable should be set to true if "Device_Type"-Check detects that the Device is an Tablet.

[2014-04-25 07:23] #19 closed, assigned to nobody

[2014-04-27 21:17] whiteatom opened #20 "memory exhausted errors"
I have been a long time users of Browscap v1.0, however, I decided to upgrade to the newest version. Now I am getting constant out of memory errors in the Browscap script.

Fatal error: Allowed memory size of 201326592 bytes exhausted (tried to allocate 32 bytes) in /www/tracker/dev/incs/Browscap.php on line 683

I have had to increase the memory limit 3 times (up to 256MB) to get it to work.

Why

[2014-04-28 03:12] wstevens opened #21 "Unsupported operand types"
Fatal error: Unsupported operand types in /home/wstevens/application/libraries/phpbrowscap/Browscap.php on line 369

This is breaking on $browser += $value; inside of the getBrowser() function. Basically $value is NULL.

This is the serialized string:
'a:6:{i:3;N;i:4;s:11:"Chrome 34.0";i:10;s:4:"34.0";i:11;s:2:"34";i:21;s:4:"true";i:36;s:1:"3";}'

User agent is:
Mozilla/5.0 (Windows NT 6.1; WOW64)

[2014-04-28 07:39] #21 closed, assigned to nobody

[2014-05-07 11:23] cziegenberg opened #24 "Undefined Indexes"
I got the following errors, perhaps because I was trying it a new browser (Firefox 30 Beta 2)? Tested with PHP 5.5.11 (64 Bit), on Windows Server 2008 R2.

Notice: Undefined index: Palm Source in C:\wwwroot\tests\browser\vendor\browscap\browscap-php\src\phpbrowscap\Browscap.php on line 576
Call Stack
 #  Time    Memory  Function    Location
 1  0.0010  240256  {main}( )   ..\index.php:0
 2  0.0049

[2014-05-09 06:51] #24 closed, assigned to nobody

[2014-05-22 14:40] quentin389 opened #29 "Update the readme.md file - highlight issues with get_browser."
The https://github.com/browscap/browscap-php#introduction suggests that browscap-php is a solution to fix problems with shared hostings.

However, since quite some time now, it's not just that. It's actually a better solution than get_browser() in all aspects (almost all?).

I wrote in the discussion group:

To which I got an answer:

---

IMHO this is a very valid complaint and the readme.md shou

[2014-05-22 15:18] quentin389 opened #30 "[2.x] Remove php file generation from browscap-php."
### The Issue

There are some performance issues with creating the PHP file from the ini files: https://github.com/browscap/browscap-php/pull/26

Historically, the ini files and the browscap-php were managed by completely different people. So it made sense to do the format conversion within the PHP code.

However, right now those two project are very much connected, and @asgrim is OK with pre-gene

[2014-05-27 07:58] paha77 opened #31 "Cache memory usage"
I got the "Allowed memory... exhausted" error when loading the cache and allowing 128M memory in php.ini.

I've already switched to the Lite version but the cache file is still ~4M large.

Could it be a php version problem or something else?

[2014-05-27 08:17] #31 closed, assigned to nobody

[2014-06-06 14:17] sambenne opened #32 "Update Composer Version"
Please could you update the composer version to 2.0.0.

[2014-06-12 04:31] wwwanaya opened #33 "bool(false) on CentOS 6.5"
Here is the browscap.ini location and permission are 0777:

![browscap issue](https://cloud.githubusercontent.com/assets/4021233/3253973/0450d71e-f1e8-11e3-91d4-074d9ae45c82.PNG)

here is my php.ini setup in line browscap:

![browscap issue 2](https://cloud.githubusercontent.com/assets/4021233/3253997/8e4f7ef2-f1e8-11e3-8251-7250e1be39cb.PNG)

here is my phpinfo();

![browscap issue 3](https://clo

[2014-06-23 07:21] #29 closed, assigned to nobody

[2014-06-23 08:06] #32 closed, assigned to nobody

[2014-07-15 06:00] KacerCZ opened #36 "[2.x] Invalid INI file is processed without error"
I found this problem when my IP was temporarily banned due to rate limiting at browscap.org and conent of downloaded browscap.ini was just some error message.

If conent of browscap.ini is not valid INI file, then cache.php is still created, but all internal arrays are empty.

I suggest to check count of $browsers returned from parse_ini_file() in updateCache() and if there are no records, then st

[2014-07-20 13:42] hamburger123456 opened #37 "using quickstart ref do not work"
First at all: I'am new in PHP.
If I follow the instructions on: https://github.com/GaretJax/phpbrowscap/wiki/QuickStart.
On Setup without Composer (copied code) I will get this error:
Parse error: syntax error, unexpected T_STRING, expecting T_CONSTANT_ENCAPSED_STRING or '(' in /www/htdocs/123456/byme/test.php on line 9
line 9 is: use phpbrowscap\Browscap;
It semms that my php do not know what "us

[2014-07-20 16:50] #37 closed, assigned to nobody

[2014-07-21 08:49] hamburger123456 opened #38 "memory problems"
Using your example script gives the following error:
Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 32 bytes) in /www/htdocs/1234/Browscap.php on line 718

PHP Version : PHP Version 5.4.26
Browscap const VERSION = '2.0b';
Browscap const CACHE_FILE_VERSION = '2.0b';

Any hint?
Thx in advance.

[2014-07-21 10:05] #38 closed, assigned to nobody

[2014-07-21 12:40] ammont opened #39 "IsBot() method"
Hi guys,

is it possible to add a isBot() method which will distinguish if the user agent is a bot (crawler) because many users may need to allow bots on their sites. thanks.

[2014-07-27 23:36] jason86 opened #41 "generating cache.php doesn't work"
Hello,

I'm trying to use browscap-php and it has worked fine in the past. I did a manual update with the latest Browscap.php and it keeps generating cache.lock with nothing in it instead of cache.php. What could I be doing wrong? I'm using "PHP Version 5.3.10-1ubuntu3.9"

[2014-07-28 07:06] #41 closed, assigned to nobody

[2014-08-08 15:57] lieutdan13 opened #43 "Version Bump"
At a quick glance, my Browscap.php file from January 23 seems to be the latest version. My file has `const VERSION = '2.0b';`. There have been many changes since January, but the version remains the same. The file deserves a new version number.

This is a request to bump the `VERSION` constant and any related comments to something other than `2.0b` to reflect the fact that the file has actually ha

[2014-08-19 11:12] marcinrosinski opened #46 "$browscap->doAutoUpdate = false; ignored when cached not build"
Hi guys,

the $browscap->doAutoUpdate = false; is getting ignored when cache is not build which kinda makes it not useful if you want to have background process to do it.

its relatively easy to fix under getBrowser() method but let me know your thoughts so can send PR across.

[2014-08-21 07:24] #43 closed, assigned to nobody

[2014-08-21 07:26] #33 closed, assigned to nobody

[2014-08-26 15:16] ametad opened #48 ""cache.lock" won't be deleted"
Hi everyone,

The cache.lock file is still present after a successful retrieval of the browscap.ini file. Therefore the next time I try to use Browscap->getBrowser() I get an Exception: "temporary file already exists".

The files:

drwxrwxrwt  8 root     root        4096 aug 26 17:13 ./
drwxr-xr-x 23 root     root        4096 aug 26 16:17 ../
-rw-r--r--  1 www-data www-data 8180003 aug 26 16:47 br

[2014-08-28 09:01] #48 closed, assigned to nobody

[2014-09-25 07:11] EvilKarter opened #49 "composer update fetch wrong version"
Hi,

in my composer.json file I have this entry:

[code]

If I execute `composer update` I get this output

[code]

If I show in the vendor/browscap/browscap-php/src/phpbrowscap/Browscap.php I find this:

[code]

So what do I have to do to get the version 2.0.3?

[2014-09-25 08:49] EvilKarter opened #50 "Undefined index: GJK_Browscap_Version"
Why do I get the Error `Undefined index: GJK_Browscap_Version` in line 538.

[2014-09-25 10:20] #50 closed, assigned to nobody

[2014-10-07 16:24] toolstack opened #51 "PHP warning message"
I'm seeing the following in my php_errors.log:

PHP Notice:  Undefined offset: 1543 in C:\inetpub\wwwroot\wordpress\wp-content\plugins\wp-statistics\includes\classes\Browscap.php on line 360

I think line 360 needs a quick array_key_exists() around it to avoid the error message:

if (!empty($browser[3])) {
    if( array_key_exists( $browser[3], $this->_userAgents) ) {
        $browser[3] = $this->

[2014-10-09 07:38] #51 closed, assigned to nobody

[2014-10-20 12:39] BassemN opened #54 "Java/1.7.0_51"
Hi,

I think User Agent Java/1.7.0_51 should has Browser_Type as Bot/Crawler
Please advise

Thanks

[2014-10-21 08:47] #54 closed, assigned to nobody

[2014-10-21 19:52] BassemN opened #55 "Missing Keys"
Hi,
When I use this script, there are a lot of missing keys like Browser_Type, Device_Name, Device_Maker, Device_Code_Name, Device_Brand_Name & Device_Type
Please advise

Thanks

[2014-10-21 21:03] #55 closed, assigned to nobody

[2014-10-22 14:02] #49 closed, assigned to nobody

[2014-10-26 17:46] clund opened #58 "Performance issue (?)"
I've been using browscap-php for various projects and just implemented it for a project where it processes several UA strings consecutively. Since execution time is critical on this project I ran a few tests on browscap performance.

What struck me was that the first call to getBrowser($uaSting) takes upwards to 1/2 second. Subsequent calls are much faster, but it raises a concern for other projec

[2014-11-10 08:27] ghost opened #59 "Missing User Agents Nexus 10"
Missing User Agent for Chrome on Nexus 10 with Andriod 4.4:

Version 34:
Mozilla/5.0 (Linux; Android 4.4.2; Nexus 10 Build/KOT49H) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.131 Safari/537.36

Version 35:
Mozilla/5.0 (Linux; Android 4.4.4; Nexus 10 Build/KTU84P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.141 Safari/537.3

Version 36:
Mozilla/5.0 (Linux; Android 4.4.4; Nex

[2014-11-10 09:20] #59 closed, assigned to nobody

[2014-11-20 07:46] BassemN opened #61 "Get a list for all available browsers"
Hi,
Is there any way to get a list for all available browsers and Device_Names ?

Thanks,

[2014-11-20 08:56] #61 closed, assigned to nobody

[2014-12-01 13:39] asgrim opened #64 "fetch command check for updates"
`browscap:fetch` command MUST check the version vs the downloaded to avoid hitting download limit
* The default behaviour should be to check the current version vs http://browscap.org/version-number - if we are up to date, just print a message saying the local file is up to date.
* We should implement a force flag to override this behaviour just in case someone DOES want to re-download for whateve

[2014-12-01 13:40] asgrim opened #65 "[3.x] Remove browscap: prefix on commands"
I think having the `browscap:` prefix for commands is unnecessary? Perhaps remove this?

[2014-12-01 13:41] #46 closed, assigned to nobody

[2014-12-26 10:23] mimmi20 opened #69 "missing variable"
Scrutinizer found this error:

`The variable $ini_file does not exist. Did you forget to declare it?`

This`was found in Browscap.php on line 304.

[2014-12-30 14:44] #69 closed, assigned to nobody

[2015-01-05 14:53] hamburger123456 opened #71 "get fatal error"
My site will get sometimes this error:
<br />
<b>Fatal error</b>:  Uncaught exception 'phpbrowscap\Exception' with message 'temporary file already exists' in /www/htdocs/abc/123/scripts/Browscap.php:517
Stack trace:
#0 /www/htdocs/abc/123/scripts/Browscap.php(289): phpbrowscap\Browscap-&gt;updateCache()
#1 /www/htdocs/abc/123/collect.php(112): phpbrowscap\Browscap-&gt;getBrowser(NULL, true)
#2 /ww

[2015-01-05 18:13] hamburger123456 opened #72 "after updating from 2.0B to 2.0.4 I have an error regarding cache.lock"
<br />
<b>Fatal error</b>:  Uncaught exception 'phpbrowscap\Exception' with message 'temporary file /www/htdocs/abc/123/cache/cache.lock already exists' in /www/htdocs/abc/123/scripts/Browscap.php:530
Stack trace:
#0 /www/htdocs/abc/123/scripts/Browscap.php(300): phpbrowscap\Browscap-&gt;updateCache()
#1 /www/htdocs/abc/123/collect.php(106): phpbrowscap\Browscap-&gt;getBrowser(NULL, true)
#2 /www/

[2015-01-05 19:01] mimmi20 commented on #71
You could run this in a separate process. You may have to remove the cache.lock file in your cache directory.

[code]

After this you should add the line

`$bc->doAutoUpdate = false;`

to your script.

Please look at #20 for additional information.

[2015-01-05 19:03] mimmi20 commented on #72
You could run this in a separate process. You may have to remove the cache.lock file in your cache directory.

$browscap = new phpbrowscap\Browscap($cacheDir);
$browscap->updateCache();
After this you should add the line

$bc->doAutoUpdate = false;

to your script.

Please look at #20 for additional information.

[2015-01-05 21:00] mimmi20 commented on #72
The error occurs when 2 processes try to create the cache at the same time.

You should use two processes:
1. One for creating and updating the cache
2. One for detecting without updating the cache

[2015-01-06 09:37] edwinveldhuizen opened #73 "Getting wrong results after running updateCache()"
I basically moved the following issue to browscap-php:
https://github.com/browscap/browscap/issues/535

The problem is that after updating I got the following result on safari

[code]

I could reproduce the issue on two MacBooks, but only for Safari. ( Chrome, Firefox were recognised correctly )
On one of the MacBooks it's been resolved by removing both the .ini and cache.php and running the updat

[2015-01-09 13:47] asgrim commented on #73
Can you try again with 5038 that has just been released please?

[2015-01-09 13:49] asgrim commented on #72
@hamburger123456 We strongly advice disabling auto-update in all scenarios, otherwise when a visitor visits your website when a new version has just been released, the visitor will have to wait for the download of the file in the background, and then the processing.

In fact, in the 3.x branch that is work in progress, this is the *only* way to operate browscap-php :)

[2015-01-09 13:50] #71 closed

[2015-01-09 13:51] #72 closed

[2015-01-10 22:20] asgrim opened #74 "Possibly improve CSV parsing with generators"
http://mark-story.com/posts/view/php-generators-a-useful-example

I don't know if we already use generators to make CSV parsing better, but it's definitely worth looking into! :)

[2015-02-13 14:52] kendrik opened #76 "Something not right, memory leak?"
I get this error:

Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 2329600 bytes) in path-to-Browscap.php on line 505

Line 505 is this: $browsers = parse_ini_file($ini_path, true, INI_SCANNER_RAW);

I have the latest version of browscap.ini

When using the old browscap.php (v1.0) file it works fine, tried using v2.0 from here on github but get errors, cannot get t

[2015-02-13 15:15] jorisrietveld commented on #76
Same problem here.

[2015-02-13 15:18] asgrim commented on #76
Browscap requires a much  higher memory limit to operate, please see issue #20 for suggestions :) thanks!

[2015-02-13 15:18] #76 closed

[2015-02-13 15:20] mimmi20 commented on #76
Please look into Issue #72.

[2015-03-09 17:07] bglover opened #77 "Retag 2.0.3 with dcfe807ed98501f0cb2d15c6622ab9d7ab260f3c"
The tag was created before [pull request 44](https://github.com/browscap/browscap-php/pull/44) was merged. As such, the tag incorrectly reports versions 2.0b instead of 2.0.3. Caches are built by version number, therefore composer installs are all dependent on 2.0b.

I propose a new tag for 2.0.3 and a tag for 2.0b using 50336e6.

[2015-03-09 21:00] asgrim commented on #77
Does Composer get funny about moving tags around?

Also, why not just use 2.0.4? :smile:

[2015-03-10 00:00] bglover commented on #77
If you have packagist setup to automatically pull changes from your repo then it's fine.

[2015-03-20 14:04] BondITSolutions opened #79 "Temporary file already exists."
I've required browscap using composer as follows:

    "require": {
      "browscap/browscap-php": ">=1.0"
    }

I've created the caching directory in `vendor/browscap/browscap-php/cache`. Next, in my code I use the following code:

    $browscap = new phpbrowscap\Browscap('vendor/browscap/browscap-php/cache);
    $info = $browscap->getBrowser();

And I get the error 'temporary file already exist

[2015-03-20 14:57] emkookmer commented on #79
Why do you want to put a "data" file in your vendor directory?

I would put it in the ``/tmp`` directory

[2015-03-20 15:07] BondITSolutions commented on #79
I figured that if it wanted to cache something, I'll let it write to a cache directory in its own directory. Will putting it in the `/tmp` directory fix my problem?

[2015-03-20 21:30] emkookmer commented on #79
If you're running your site/application on a linux machine, then yes it should resolve your problem

[2015-03-21 15:14] mimmi20 commented on #79
@BondITSolutions It should not matter what kind of OS you are using, or where your cache is located.

Creating the Cache needs some time. If the creation of the Cache is not finished when a second Request is started you will get this error.

You also should look into your Logs and you should control if the download of the Browscap.ini was successful to make sure there are no other errors.

Before

[2015-06-02 15:16] fyrye opened #87 "[3.x] BrowscapPHP::update and browscap/browscap - 6003"
See issue created at browscap/browscap
https://github.com/browscap/browscap/issues/664

[2015-06-02 15:20] fyrye commented on #87
Resolved by https://github.com/mimmi20/browscap-php/commit/e945645759c29ce66bd818dd88f3a0c04c4fb31a

[2015-06-02 15:20] #87 closed

[2015-06-02 20:37] fyrye opened #88 "[3.x] Browscap::update() does nothing with new remote cache"
Effectively you should be able to perform a fetch+convert or update according to the documentation.

According to the update method, it will never retrieve a new remote file if a cache does not already exist.
https://github.com/browscap/browscap-php/blob/3.x/src/Browscap.php#L408

if `$cachedTime` is null, it would be equal to 0
Since $remoteTime <= null is always false, it will return void, inste

[2015-06-05 16:24] fyrye opened #89 "[3.x] RemoteLoader::getMTime returns 0 instead of timestamp"
The `RemoteLoader` dependency retrieves the response string from the remote source and then converts it to an int.
In the case of http://browscap.org/version the resposne string is a RFC 2822 date string `Mon, 01 Jun 2015 08:53:57 +0000`

Fileloader\Loader\RemoteLoader
[code]

To satisfy both browscap.org/version and original RemoteLoader::getMTime behavior I suggest using
[code]

[2015-06-10 07:27] #79 closed

[2015-06-10 07:28] #77 closed

[2015-06-10 07:29] #58 closed

[2015-06-10 07:30] #88 closed

[2015-06-10 07:30] #89 closed

[2015-06-24 20:14] InfoTracer opened #91 "Execute PHP code from infected .ini file"
I have a POC (Proof of concept) that when there is a man in the middle attack or that the browscap.org site is hacked and code is injected into the .ini file that code can be executed on sites that use this library.

When people use the "updateCache" for updating the ini file from the remote location like http://browscap.org/stream?q=BrowsCapINI it could happen.

So the browscap-php library should

[2015-06-24 20:28] mimmi20 commented on #91
@InfoTracer Please post the example.

[2015-06-24 20:34] InfoTracer commented on #91
When u put this `'?><?php exit('test') ?>` at, for example, to the Version key it will execute the code `exit('test')`.
So the full line will be: `Version='?><?php exit('test') ?>`

It will be executed when the generated .php is required.

[2015-06-24 21:49] asgrim commented on #91
@mimmi20 can you verify please?

On 24 June 2015 at 21:34, Koen van Wijnen <notifications@github.com> wrote:

[2015-06-25 07:09] mimmi20 commented on #91
If I add `?><?php exit('test') ?> ` (without the colon) it will result in a parser error. With the colon the code is executed.

[2015-06-26 22:03] #91 closed

[2015-09-04 12:31] ve3 commented on #20
I have same memory problem.

[2015-09-04 12:33] frederikbosch commented on #20
@ve3 start using `yzalis/ua-parser`

[2015-09-04 12:51] asgrim commented on #20
@frederikbosch @ve3 or, feel free to submit a PR to make it better :) thanks!

[2015-09-04 12:54] asgrim commented on #20
In fact, by the way the `3.x` branch should be much more memory efficient, so I recommend you use this instead :) https://github.com/browscap/browscap-php/tree/3.x

[2015-09-04 12:54] #20 closed

[2015-09-04 12:57] asgrim commented on #65
Actually, keeping this makes sense if integrating with other applications.

[2015-09-04 12:57] #65 closed

[2015-09-04 12:58] #73 closed

[2015-09-04 12:59] asgrim commented on #36
@mimmi20 do we handle this better in `3.x` branch? If so, I'm going to close this.

[2015-09-04 13:16] asgrim commented on #17
@mimmi20 do we handle this better in `3.x` branch? If so, I'm going to close this.

[2015-09-04 13:18] asgrim opened #96 "Investigate failing builds on OSX"
I have disabled OSX builds on travis as it is failing.

Investigate why, and if we don't need to build on OSX, we won't. I don't think it's critical.

[2015-09-04 15:30] jaydiablo commented on #96
I encountered the same on my fork.  I pinged the Travis team on twitter and they said that they removed the restriction on multi-os builds, so now all repos are building OSX if it's defined in the travis.yml, however, PHP support isn't available yet:

https://github.com/travis-ci/travis-ci/issues/2313

https://twitter.com/travisci/status/638772380064718849

[2015-09-04 15:35] jaydiablo commented on #20
The crossjoin browscap parser https://github.com/crossjoin/Browscap is A LOT more memory efficient, and actually quite a bit faster than browscap-php, as outlined in this ticket: https://github.com/crossjoin/Browscap/issues/12

And it still uses browscap data, which is more complete than what ua_parser offers, IMO.

[2015-09-05 11:55] asgrim commented on #96
Ahh, thanks for info & linking to the issue :)

[2015-09-05 12:01] asgrim commented on #20
@jaydiablo is that vs the `3.x` branch or existing stable (2.0.5)?

[2015-09-05 13:37] mimmi20 opened #99 "Travis builds receive Too Many Requests errors"
This is related to browscap/browscap-site#19.

[2015-09-05 20:32] jaydiablo commented on #20
@asgrim The benchmarks in that ticket are just against the latest 2.x version (2.0.5 at the time of that writing), however I have run the browscap tests against the 3.x branch as well, just never posted the results.

Here are some results that I just ran on my mac, all are fresh checkouts of the respective master branch.

browscap-php dev-master (2.x):

browscap-php 3.x-dev:

crossjoin dev-master

[2015-09-05 21:47] jaydiablo commented on #20
I looked around a bit at the 3.x code, and it does look like a lot of it is based on crossjoin, particularly the storage of the patterns/iniparts in separated cache files.

I ran a profile of 3.x with blackfire against the slowest useragent it processed in that csv I linked to above:  https://blackfire.io/profiles/bdb371a4-11cb-428f-8281-66c9079ff64d/graph

Like I was seeing with crossjoin when I

[2015-09-06 18:47] asgrim opened #101 "Increase performance of browscap 3.x"
As per conversation with @jaydiablo [here](https://github.com/browscap/browscap-php/issues/20#issuecomment-137993153), I'd like to review the performance of the `3.x` series.

Although we have significantly reduced the memory usage in `3.x`, it now takes much longer to process.

@jaydiablo has pinpointed a potential big win:

Investigate this and see if we can optimise similarly.

[2015-09-06 18:49] asgrim commented on #20
@jaydiablo thanks very much for your feedback. I've created a new issue in #101 to investigate the performance of the `3.x` branch.

FWIW, I don't mind there being multiple parsers, it promotes a healthy ecosystem imo :) however, we'll only "officially" support stuff on github.com/browscap (although we'll do our best for other stuff too!)

[2015-09-06 21:13] asgrim commented on #99
@mimmi20 also note that I have a potential solution (still need to implement it) that should overcome the rate limiting

[2015-09-07 14:11] nicohofmann opened #103 "require PHP 5.3 -> PHP 5.5 in 2.0.5 ?"
Is it possible to change the requirement to PHP 5.3 again for 2.0.x ? I guess it is very hard and bad decision to switch PHP Requirements within a minor version.

[2015-09-07 15:45] asgrim commented on #103
To be honest, probably not. Browscap 3 (the master branch, not stable yet) will be min 5.5 at the moment, and we won't be doing any more work on Browscap 2!

[2015-09-07 15:46] asgrim commented on #103
(btw, we would not re-release 2.0.5 anyway, it would be in the 2.1.0 release if anything)

[2015-09-08 17:24] #99 closed

[2015-09-08 17:27] asgrim commented on #99
I have resolved this - I have taken advantage of Travis-CI's caching ability to cache the file. I will simply clear the cache each time a new release of `browscap.ini` is made, or as some cherry-on-top, we can add the version checking to the [.travis-scripts/cache-browscap.sh](https://github.com/browscap/browscap-php/blob/master/.travis-scripts/cache-browscap.sh) script

[2015-09-17 13:28] georgi-kovachev opened #109 "Recommended Setup"
I have some questions about 'Recommended Setup' in the documentation.
What are these command?
bin/browscap browscap:fetch
bin/browscap browscap:convert

And where is bin folder and I can't find 'browscap' command.
I updated composer.json file and run composer update.
And it download the browscap-php folder under vendor/browscap.

[2015-09-17 13:37] asgrim commented on #109
`vendor/bin/browscap` is the command you're looking for :) I'll update the docs accordingly, thanks

[2015-09-17 13:40] georgi-kovachev commented on #109
i am using laravel and i am sure it is nothing to affect the configuration.
After I update composer.json and run 'composer update', I still don't see browscap command under vendor/bin/
I just see phpspec,phpunit,psysh which already exists,
FYI I am using MAMP on mac.

[2015-09-17 13:46] asgrim opened #111 "Fix copyright date to 2015"
It's currently 2014, make it 2015.

[2015-09-17 13:47] georgi-kovachev commented on #109
hi James I can't find the browscap command under vendor/bin.
what can be wrong?

[2015-09-17 13:58] asgrim commented on #109
What version did it install? I'm guessing it installed the latest stable (2.0.5), which is a different branch (and thus different instructions): see https://github.com/browscap/browscap-php/tree/2.x

[2015-09-17 13:58] #109 closed

[2015-09-17 14:06] georgi-kovachev commented on #109
I followed the instruction of readme file under master branch.
And I noticed it adds "browscap/browscap-php": "~2.0" in componser.json
and inside browscap.php I found this
const VERSION = '2.0.5';
In the readme it says it is new version of 3.0, but it seems like 2.0
Is this 2.0 version?

[2015-09-17 14:15] asgrim commented on #109
The README.md on `master` branch is for 3.x: https://github.com/browscap/browscap-php. This is the new alpha version. Note the second paragraph states clearly:

Thanks! :smile:

[2015-10-18 20:02] #111 closed

[2015-10-23 14:52] rorydonohue opened #116 "issues running browscap:fetch"
Hi,

For the recommended setup in the README, I am having trouble running the following commands:

    vendor/bin/browscap browscap:fetch
    vendor/bin/browscap browscap:convert

I installed the browscap binary from the  "browscap/browscap" repository, however when I run the above commands I get:

    [InvalidArgumentException]
    There are no commands defined in the "browscap" namespace.

The o

[2015-10-23 15:59] asgrim commented on #116
@rorydonohue if you installed via composer with default options, you will have the latest stable 2.x version. The instructions you see in the README are for 3.x which is unstable, but is the current master branch.

Your choices are either:

* Use composer to require version [`3.0.0-alpha.1`](https://packagist.org/packages/browscap/browscap-php#3.0.0-alpha.1)
* See the docs for the `2.0.5` or [`2.1

[2015-10-23 15:59] #116 closed

[2015-10-23 19:02] mimmi20 commented on #116
@asgrim the commands @rorydonohue named are included in `browscap/browscap` but not in `browscap/browscap-php`.

[2015-10-25 07:59] jerrygrey commented on #116
@asgrim I think that should be spelt out more clearly in the README itself to avoid confusion imo.

[2015-10-25 21:42] asgrim commented on #116
@mimmi20 when installing `browscap-php` with composer, the commands will be in `vendor/bin/browscap`, that's what's in the readme as it's the most common usecase.

@jerrygrey good point, I've created PR #117 to resolve this

[2015-10-25 22:52] asgrim opened #118 "Rename bin/browscap to bin/browscap-php"
Avoiding conflict mentioned in #117

[2015-11-16 15:19] ThaDafinser opened #119 "Due date v3.0.0"
Hello,

is there already a due date for the v3.0.0?
I currently depend on it here: https://github.com/ThaDafinser/UserAgentParser#minimum-stability-currently

It's okay until i release the v1.0.0, but when i will release v1.0.0 (due date is planned around december) i would like to have only stable providers.

[2015-11-16 21:08] mimmi20 commented on #101
The changes from `crossjoin/Browscap@2ee9663` were reimplemented in the optimize branch and merged at the 26.09.

[2015-11-18 09:53] #101 closed

[2015-11-18 09:54] #118 closed

[2015-11-18 09:57] asgrim commented on #119
Currently no date is set, it's likely that I'll do the work to convert the website (https://github.com/browscap/browscap-site) to use it first as it's currently using the latest 2.x - as that'll be a fairly good test of functionality (anyone who uses the UA checker).

[2015-11-18 09:58] asgrim commented on #96
@mimmi20 OSX builds are disabled currently, can you make a PR to test if that's the case please?

[2015-11-18 12:26] mimmi20 commented on #96
@asgrim How do we test this? We actually dont test on OSX.

[2015-11-18 13:01] asgrim commented on #96
Enable the platform on Travis ;)

[2015-11-18 15:59] mimmi20 commented on #96
The ticket travis-ci/travis-ci#2313 jaydiablo mentioned earlier is still open.

[2015-11-20 07:32] ThaDafinser opened #122 "[3.x] CLI command for full browscap file?"
Hello,

how i can update and generate the cache for the full browscap file?

This command seems to be for the lite version? Have found nothing in the readme.
[code]

I do it now this way
[code]

Reference: https://github.com/ThaDafinser/UserAgentParserComparison/issues/5#issuecomment-158277294

[2015-11-20 09:48] #36 closed

[2015-11-22 19:52] mimmi20 commented on #74
@asgrim Where do we parse CSV files in this project?

[2015-11-23 09:06] asgrim commented on #74
Not a clue. Not sure where I was going with this.

[2015-11-23 09:06] #74 closed

[2015-11-23 10:18] #30 closed

[2015-11-23 10:18] #17 closed

[2015-11-23 10:19] asgrim commented on #119
@ThaDafinser we released beta.1 now, so we're getting there. I expect we'll be in a position to release 3.0.0 by the end of the year

[2015-11-23 10:19] #103 closed

[2015-11-23 15:53] Soullivaneuh opened #125 "Warning: preg_match(): Unknown modifier '^'"
Just updated browscap-php, got this:

[code]

browscap/browscap-php updated from 2.0.5 to 2.1.0.

[2015-11-23 17:54] mrardon commented on #125
:+1:

[2015-11-23 19:04] asgrim commented on #125
Does this affect any UA, or just particular ones please?

[2015-11-23 19:12] mrardon commented on #125
I am getting it in latest version of Chrome for Mac on localhost. I am running PHP 5.5.30. Seems to have happened around here: https://github.com/browscap/browscap-php/commit/91f2389d72e4e40a6184c8d9f6065a0c079ef45a

[2015-11-24 17:24] #122 closed

[2015-11-24 17:24] #125 closed

[2015-11-24 17:25] asgrim commented on #125
Closed in PR #126

[2015-11-29 11:27] KyKyIIIKuH opened #128 "incorrect display for User Agent"
Hello,
When I go to the browser "Google Chrome", UA Lookup wrote that I went to the browser chrome.
But if to come to the browser "YandexBrowser", UA Lookup wrote that I went to the browser chrome, instead of to write browser "YandexBrowser".
____
Когда я захожу с браузера "Google Chrome", UA Lookup пишет что я зашел с browser chrome.
Но если зайти с браузера "YandexBrowser", UA Lookup пишет что я

[2015-11-29 18:39] mimmi20 commented on #128
moved to browscap/browscap#855.

[2015-11-29 18:39] #128 closed

[2015-11-30 15:50] ThaDafinser opened #129 "3.x getVersion() does not work?"
In my case i always get null on `getVersion`

I create the cache like the following

[code]

But here i get null
[code]

Something i do wrong?

[2015-11-30 16:07] mimmi20 commented on #129
@ThaDafinser Was the cache directory empty before the call? Did you get any errors during the conversion?

[2015-11-30 16:14] ThaDafinser commented on #129
No the cache was already build, when i call it. No erros or warnings appeared.

But my cache building and initialising of the real usage of the provider is seperated

generate cache
[code]

Use the cached adapter
[code]

[2015-11-30 22:13] mimmi20 commented on #129
@asgrim I found an error in the `convertFile` and `convertString` functions. Any resolution will have conflicts with PR #127. Could you merge this PR first?

[2015-12-01 14:13] #64 closed

[2015-12-01 14:17] asgrim commented on #129
@mimmi20 done now

[2015-12-01 19:19] mimmi20 commented on #129
Thanks

[2015-12-02 09:32] #129 closed

[2015-12-14 15:14] ThaDafinser opened #132 "Get lastUpdated of browscap"
It's currently possible to retrieve the used `browscap version` from cache (e.g. 6010)

Is it somehow possible to also get the release date of that browscap file?

[code]

The date to be used would be this from browscap.ini
[code]

If you have no internet connection, you cannot use this method and you cant check with that method, what's your local timestamp (or that timestamp is simply wrong, sinc

[2015-12-15 08:41] ThaDafinser commented on #132
For example i grab it from wurfl like this: https://github.com/ThaDafinser/UserAgentParser/blob/master/src/Provider/Wurfl.php#L99-L112

[2015-12-15 21:06] mimmi20 commented on #132
@ThaDafinser Actually we dont need this date in the project. If you like to have, you are free to implement the functionality and create a PR for that.

[2015-12-21 22:01] codeaid opened #134 "Checking for new version doesn't work"
Not sure if it's just me but the `IniLoader::getRemoteVersion()` method doesn't seem to work (also causes `Browscap::checkUpdate()` to fail).

After a bit of debugging it seems that it's actually trying to download the INI file instead of requesting the version number from `http://browscap.org/version-number` and fails saying `could not load version from remote location`.

The following change see

[2015-12-28 11:59] #134 closed

[2016-01-05 16:03] wggdeveloper opened #136 "Different results with get_browser and browscap-php"
While we have been working on our browscap implementation in LUA I run all the UA strings from [UserAgentString.com](http://www.useragentstring.com/) through `browscap-php` master and the built-in `get_browser` in PHP5.6. The test gave us different results for 109 UAs out of 10770.

The browscap.ini was the full version of the 6011 release.

Please check the [attached file](https://github.com/brow

[2016-01-05 19:13] mimmi20 commented on #136
@wggdeveloper Could you create a new list with just the Uas in it where you think the detection result of `browscap-php` is wrong?

[2016-01-05 22:12] wggdeveloper commented on #136
It is just a matter of grep, but [here](https://github.com/browscap/browscap-php/files/79092/wrong.txt) it is.

I can not decide which results are actually wrong. My intention with this test was to get a bunch of UA strings and check our implementation if it give the same results as yours. Then I noticed these differences given by a search which strictly follow the ordering of the INI file (e.g. `

[2016-02-13 08:45] mimmi20 commented on #136
@asgrim Could you move this issue to browscap/browscap? I dont think we can solve it here.

[2016-02-14 12:35] BassemN opened #140 "3.x Change resources directory path"
Hi,
Great plugin!!
How can I change build directory path to be outside the vendor directory(Installed via composer) to make sure that build directory didn't removed after updating browscap-php via composer?
Also can this plugin run on PHP 5.3?

Thanks

[2016-02-14 12:43] mimmi20 commented on #140
@BassemN You need PHP 5.5.

[2016-02-14 12:45] BassemN commented on #140
@mimmi20 Ok Thanks and what about changing  build directory path?

[2016-02-14 12:45] mimmi20 commented on #140
@BassemN What do you want to do that you need the build directory?

[2016-02-14 12:48] mimmi20 commented on #140
@BassemN Where did you find the build directory? This library did not have one?

[2016-02-14 12:49] BassemN commented on #140
@mimmi20 After runing this command `vendor/bin/browscap-php browscap:update` I notice the creations of `resources` directory within the vendor directory. I need to change that path.

[2016-02-14 12:54] mimmi20 commented on #140
@BassemN At the moment this is not possible. I will add an option

[2016-02-14 12:56] BassemN commented on #140
@mimmi20 Thank you very much. Hope to see this option soon :)

[2016-02-15 15:57] #140 closed

[2016-02-15 15:59] #136 closed

[2016-02-15 15:59] #132 closed

[2016-02-15 15:59] asgrim commented on #132
Fixed by PR #133 and #138

[2016-02-15 16:00] asgrim commented on #119
We'll need to do an rc.1 release at least beforehand as the API has changed slightly (see #141)

[2016-02-16 10:47] asgrim opened #143 "Upgrade guide from 2.x to 3.x"
As the API and usage is totally different, we should have a migration path by way of an upgrade guide. This can be simply a section in the README.md as I don't think it's much more complicated than that.

[2016-02-23 19:46] codeaid opened #144 "Upgrade symfony/console to v3"
I have a suggestion to upgrade Symfony console to the latest version, which at the moment is v3.0.1. I am using other libraries that require 3.* and am having problems using them together with browscap-php.

I tried upgrading it locally and the unit tests still pass. I don't think there are any breaking changes in the current version, hence would be nice to move away from the "legacy" version.

Ru

[2016-02-23 19:56] codeaid commented on #144
I opened a pull request to save you some time if you decide to go forward with the change.

[2016-02-23 22:33] asgrim commented on #144
Thank you for reporting and checking so thoroughly! Happy with the change in general.

[2016-02-26 15:48] asgrim commented on #144
Closed by #145

[2016-02-26 15:48] #144 closed

[2016-03-10 08:10] ThaDafinser opened #148 "Detect loaded file type"
After the issue here https://github.com/browscap/browscap/issues/907 i was thinking about splitting my detection and comparison for each downloadable file type, which would make sense i think.

My questions:
Is there a way i can detect the loaded file type?
What is the idea/difference between `full` and `php` ?
 - Lite is for speed thats clear
 - just no device model/brand for a bit more speed?

I

[2016-03-10 08:53] asgrim commented on #148
@ThaDafinser I've created a new wiki page containing the answer to this, as it's a useful piece of information: https://github.com/browscap/browscap/wiki/Which-version-should-I-use%3F

Can I ask your permission to re-use that comparison chart on that page to demonstrate the difference please?

[2016-03-10 09:47] ThaDafinser commented on #148
@asgrim sure you can use it :+1:

if i'm right the `type` should be added like version/released here
https://github.com/browscap/browscap-php/blob/master/src/Cache/BrowscapCacheInterface.php#L64-L76
[code]

[2016-03-10 10:08] asgrim commented on #148
Yup, the `Type` field will be one of `LITE`, `FULL` or blank (`Type=`), it's existed in the INI file for a while, but I guess it was just never exposed :)

[2016-03-10 10:57] asgrim commented on #148
@ThaDafinser I've updated the wiki page with your comparison, thank you :)

[2016-03-11 09:11] asgrim commented on #148
Closed by #149

[2016-03-11 09:11] #148 closed

[2016-03-11 09:12] asgrim commented on #119
Almost there for the release. #143 needs to be done so people can take a sensible upgrade path.

I'm really hoping people are using Composer correctly (i.e. using `^2...` instead of `>= 2...`) otherwise they're going to be in for a shock when they update and find everything broken :) so the upgrade docs are pretty important.

[2016-03-11 09:15] ThaDafinser commented on #119
Dont worry about that. That (should) only happen in development since in production you should only do `composer install` from the lock file.

And if then you dont want the `3.x` just change the `composer.json` and do composer update and you are fine.

[2016-03-15 10:21] ThaDafinser opened #150 "A bit wired (at least in my head)"
It's possible to start a browcap instance with following different initial parameters/dependencies
- with a file loader + cache (per default file)
  - with no warm cache
  - with a warm cache
- only with a cache (should be warm)

When calling `convertFile()` the cache is warmed up.

My problem is now the case, when there is no (warm) cache.
Until yet i thought, when i use `getBrowser()` the cache

[2016-03-15 11:50] mimmi20 commented on #150
Because of the time which is required to create the cache, it was decided to split that function apart in version 3. Actually Browscap (V3) does only work with a warm cache.

[2016-03-15 11:53] asgrim commented on #150
Yes, this automatic creation of the cache is a pain point for supporting, and we have to recommend all the time that people run cache update in the background due to memory usage etc. - hopefully this is less of an issue in V3, but I think separation of these is important.

Therefore, we should encourage warming cache beforehand, rather than "magically" on the fly.

[2016-03-15 12:26] ThaDafinser commented on #39
Solved with the `crawler` property? https://github.com/browscap/browscap/wiki/Which-version-should-I-use%3F#standard

[2016-03-15 13:13] ThaDafinser commented on #150
I just wrote a integration test  to test this behaivour.
It seems that it ***works without a warm cache***

Or did i missunderstood something?

The test if the cache is warm
https://github.com/ThaDafinser/UserAgentParser/blob/feature/intergration-test/src/Provider/AbstractBrowscap.php#L63-L65

The intergration tests, which fail because the cache is not set
https://github.com/ThaDafinser/UserAgentP

[2016-03-15 13:14] ThaDafinser commented on #150
There is also this small test, to verify that browscap returned something, without a cache https://github.com/ThaDafinser/UserAgentParser/blob/feature/intergration-test/tests/integration/Provider/BrowscapLiteTest.php#L79-L80

[2016-03-16 07:37] mimmi20 commented on #150
It may work without a warm Cache, but you should get always `Default Browser` as result, because this is a fallback, if nothing matches.

[2016-03-16 09:41] ThaDafinser commented on #150
@mimmi20 you are right, just a Default browser is returned, but isn't that a problem?
As a end user i would think there is no matching result instead of a missing cache?
Require a valid/warm cache would be better in this case, or do i miss something

https://github.com/ThaDafinser/UserAgentParser/blob/feature/intergration-test/tests/integration/Provider/BrowscapLiteTest.php#L33-L52

[2016-03-16 11:08] mimmi20 commented on #150
@ThaDafinser Would you like it, that we throw an exception, if the cache is not available or warmed up?

[2016-03-16 11:27] ThaDafinser commented on #150
If the warm cache is required that it works, then it's a dependency which needs to be somehow checked IMO. Be it an exception or something else doesnt matter.

Dunno what's the best thing at the current state. If i would have an empty project i would proabably completely split the cache warm-up and file conversion from the rest completely.

[2016-03-16 13:04] TomThak opened #152 "How to download full ini?"
Hello,
I use browscap as described with downloaded cache file.
But if I look at http://browscap.org/ua-lookup I can see, that you can provide more info, than my browscap ini returns. I used $browscap->doAutoUpdate to download the ini. On the download page I can see, that for PHP there are 3different types of ini - lightweight, full and some standard.
For example I do not have object property "plat

[2016-03-16 14:27] asgrim commented on #152
Judging by your phrasing, I'm guessing you're using Browscap 2.x branch. In which case you can override the URL by setting the `remoteIniUrl` setting, like so:

[code]

Note that due to the larger amount of memory required to run this, we recommend following instructions here: https://github.com/browscap/browscap-php/tree/2.x#recommended-setup (setting up as a cron job).

[2016-03-16 14:27] #152 closed

[2016-03-16 14:29] TomThak commented on #152
Ah, ok thanks!

[2016-03-16 15:08] asgrim commented on #150
If a warm cache is required (as is my assumption) then yes, we should throw an exception if the cache is not found.

[2016-03-17 23:21] alexliIgnite opened #153 "platform version not fetch"
Hi, I just install project in php5.6 in ubuntu server,
everything looks fine to me, it working, but when I look through the useragent like this one
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36

it dose not give me platform version and a lot of other results from pharser looks different from the one I check on project website,
here i

[2016-03-18 07:31] mimmi20 commented on #153
Which browscap file did you use?

[2016-03-18 17:10] alexliIgnite commented on #153
vendor/bin/browscap-php browscap:fetch
vendor/bin/browscap-php browscap:convert

I ran these two command, one thing I noticed that my bin folder is not under vendor, I did have bin folder under vendor, but dose not contain browscap-php,

[2016-03-18 17:22] asgrim commented on #153
@alexliIgnite which version are you using? 2.x or 3.x?

[2016-03-18 19:29] alexliIgnite commented on #153
3.x on master

[2016-03-18 20:20] mimmi20 commented on #153
@alexliIgnite With the commands you used you use the `standard` file. The properties you mentioned are not in that file, but they are part of the output. (Maybe we should change that.)

If you want these properties, please use the `-r` parameter.

vendor/bin/browscap-php browscap:fetch -r Full_PHP_BrowscapINI

[2016-03-18 20:42] alexliIgnite commented on #153
when I run this command
I got
 there is no cached version available, please update from remote

but it works

thank you

[2016-03-23 10:23] #153 closed

[2016-03-23 10:24] #39 closed

[2016-05-08 18:11] mimmi20 opened #156 "replace FileLoader with GuzzleHttp"
I dont want to maintain the Fileloader class any further. For This I want to replace this class inside this project.

[2016-05-08 18:31] asgrim commented on #156
Makes sense, so :+1: from me :)

[2016-05-21 02:56] Sazpaimon opened #158 "Formatter for BC with 2.x"
I think it'd be useful if there were a formatter that works similar to how 2.x worked. For instance, in 2.x, properties would only be shown if they were in the ini that you requested, so properties from full wouldn't show if you requested the default ini. Also, in 2.x, property names were only in lowercase when  specified.

I can make a PR if such a thing would be accepted

[2016-05-22 11:24] mimmi20 commented on #158
There is nothing to say against this.

[2016-05-23 06:47] #158 closed

[2016-05-26 09:07] J0r opened #160 "PHP 7"
I,

I woold like to know if the version 2.* work with php 7.* or if i've to wait the stable version 3.* ?

Thanks.

[2016-05-26 10:11] mimmi20 commented on #160
Version 2.x is working with PHP 7.

[2016-05-26 10:12] asgrim commented on #160
Just try it ;)

[2016-05-26 10:12] #160 closed

[2016-05-29 14:36] ppKrauss opened #161 "README not explain when is better to use built-in get_browser"
About "get_browser vs browscap-php"

README need to explain when is better to use build-in function [get_browser()](http://php.net/manual/en/function.get-browser.php), (not a PHP class) for user decision.

[2016-05-29 15:05] asgrim commented on #161
get_browser is simply an alternate implementation, we don't support it, I'm afraid.

[2016-05-29 15:05] #161 closed

[2016-06-19 19:35] Sazpaimon commented on #119
Since there's an active PR addressing migration, is there any chance of a release happening any time soon?

[2016-06-20 08:22] #150 closed

[2016-06-20 08:35] asgrim commented on #119
Soon - there's 2 PRs left for 3.0.0 release :)

[2016-06-20 12:16] neokio opened #162 "daunting migration from v2 to v3"
I'm a huge fan of the simplicity and awesomeness of Browscap v2! Drag browscap.php wherever you want, add a cache dir with the right permissions, run it once with 3 lines of code, and BAM. Done. Efficient and clean.

For users like me, who don't use Composer/Symphony, and who prefer not to fill their codebase with hundreds of unknown files that serve no clear purpose, version 3.0.0rc1 is incompreh

[2016-06-20 12:24] asgrim commented on #162
Sorry, we won't be supporting installation without Composer with v3 on.

Also, upgrading to 3 is totally optional, use what works for you :) version
3 improves on significant memory usage issues we see with version 2, as
well as taking a bit of a stronger stance with better workflow (i.e.
removing auto update and forcing a back end system to trigger updates
etc.), and making it more extensible.

B

[2016-06-20 18:30] neokio commented on #162
Well, maybe it's time I get my Composer on.
I'd love to know the performance benefits of v3 over v2.
On my local system (with Browscap v2), 1 lookup takes 300ms, and 10 lookups take 650ms total.
Do you have any comparison stats you can share?

[2016-06-20 19:00] asgrim commented on #162
It's primarily memory problems we see on smaller systems - see #20 for a long thread on memory issues. We've tried a lot to organise the INI files so that the "normal" file is not too oversized. There are some comparison stats for an early version of 3 over 2 here: https://github.com/browscap/browscap-php/issues/20#issuecomment-137993153

Composer is great! :)

[2016-06-20 19:01] asgrim commented on #162
FYI there is a migration guide we're working on in the README.md - you can see the WIP and give feedback onto #154, would be very appreciated!

[2016-06-20 19:01] #162 closed

[2016-07-11 10:57] ThaDafinser commented on #119
Soon a 3.0 release would be really fine.

[2016-07-12 10:46] #119 closed

[2016-07-12 10:47] asgrim commented on #143
Fixed in #163

[2016-07-12 10:47] #143 closed

[2016-07-12 10:47] asgrim commented on #156
Fixed in #157

[2016-07-12 10:47] #156 closed

[2016-07-12 10:55] asgrim commented on #119
@ThaDafinser 3.0.0 is released today: https://github.com/browscap/browscap-php/releases/tag/3.0.0

[2016-07-16 07:09] ianchadwick opened #165 "BrowscapUpdater frequently times out"
Running either the update or fetch command with Full_PHP_BrowscapINI remote-file times out frequently.

`browscap:update --remote-file Full_PHP_BrowscapINI`

[2016-07-16 17:35] cbj4074 commented on #165
Just updated from `3.0.0-rc.1` to `3.0.0` and am now seeing the same thing:

[code]

[2016-07-31 06:36] jkns commented on #165
I've just tried to setup Browscap for the first time. I kept getting the timeout issue. Updating to 30 didn't work. Ended up changing it to 60 before it downloaded.

[2016-08-01 06:54] asgrim commented on #165
Closed by #167

[2016-08-01 06:54] #165 closed

[2016-08-03 16:07] joeljv91 opened #169 "How to update memcached cache?"
Hi

I'm using this library in my project but I don't know how to update cache. I can't use cli command because I'm using Memcached

This is my testing code:

[code]

But this doesn't work. How can I generate and save cache to memcached?

Thanks

[2016-08-03 17:37] mimmi20 commented on #169
Do you get any error message? How do you know It didn't work?

[2016-08-03 17:51] asgrim commented on #169
Providing some more information other than "it doesn't work" would really help... Otherwise this is just gonna get closed.

[2016-08-04 07:48] joeljv91 commented on #169
Well, when I try to access to the "generated" cache with my memcached configuration shows this exception:

[code]

This is my testing code:

[code]

I'm going to add some logs and try to get more information

[2016-08-04 09:23] mimmi20 commented on #169
Do you get error messages during the update?

[2016-08-04 09:54] joeljv91 commented on #169
This is the logger data when I update cache with memcached config:

[code]

[2016-08-04 12:00] joeljv91 commented on #169
Debugging the library I notice that the "cacheExpiration" has the value "315360000" not 0 and I set 0 in my memcached configuration

[2016-08-08 08:16] asgrim commented on #169
Fixed by #170

[2016-08-08 08:16] #169 closed

[2016-10-28 12:30] sergey-rud opened #172 "cURL error 28: Operation timed out after 5000 milliseconds"
Hi!

I have successfully run `vendor/bin/browscap-php browscap:fetch`

But when I execute `vendor/bin/browscap-php browscap:fetch --remote-file "Full_PHP_BrowscapINI"` I get an error:

How can I fix that?

Thank you.

[2016-10-28 16:24] asgrim commented on #172
@sergey-rud we're working on this to provide an API to update the timeout (and increase default). For now please see #166 for suggested fix. HTH!

[2016-10-28 19:01] sergey-rud commented on #172
Thank you for a quick answer. I hope you will release a patch with that fix soon.

Best regards.

[2016-11-04 20:38] muthugit commented on #1
I used the use paths outside the class and its work for me
![screen shot 2016-11-05 at 2 07 53 am](https://cloud.githubusercontent.com/assets/12176352/20021620/b1bf4cb0-a2fc-11e6-8a18-d5aec3769097.png)

[2016-11-17 20:58] slewitan opened #173 "send xls by email"
I couldn't figure out if you currently have a way to send an xlsx by email so I want to make the following suggestion ...
add a flag "$download=true" in order to be able to not set the headers if one wants to capture the output

		public function openToBrowser($outputFileName **,$download=true** )
		{
			$this->outputFilePath = $this->globalFunctionsHelper->basename($outputFileName);

			$this->fi

[2016-11-17 21:00] asgrim commented on #173
Not entirely sure what this relates to, we don't support xlsx files? I think you maybe reported this issue to the wrong project?

[2016-11-17 21:07] slewitan commented on #173
woops sorry about that.

[2016-11-17 21:07] #173 closed

[2016-12-07 09:48] solicomo commented on #172
Is there any update on this issue? 

It seems that #166 dose not provide an API to set the private $timeout for users.

[2016-12-07 09:50] asgrim commented on #172
This is not released yet. There was a PR made in #171 but it doesn't look like the author has updated it yet.

[2017-01-03 08:34] mimmi20 opened #174 "replace WurflCache with doctrine/cache"
I dont want to support the WurflCache package any longer. For this the package should be replaced with the PSR-6 compliant [php-cache package](https://github.com/php-cache/cache).

[2017-01-03 08:46] asgrim commented on #174
PSR-6 was a bit of a failure by many accounts, and I believe a new caching standard has recently been accepted ([PSR-16](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-16-simple-cache.md)) that resolves the issues with PSR-6.

[2017-01-03 10:13] mimmi20 commented on #174
Then I would use [scrapbook] (https://github.com/matthiasmullie/scrapbook).

[2017-01-03 10:14] asgrim commented on #174
I'd suggest we use `doctrine/cache` really; it's a MUCH more widely used cache. Only downside is no PSR-16 support, but I'm [working on that](Roave/DoctrineSimpleCache#1) as we speak

[2017-01-03 10:21] mimmi20 commented on #174
Could you post a coment here, if that package is ready for use?

[2017-01-03 10:22] asgrim commented on #174
yup, 'course

[2017-01-04 08:43] mimmi20 commented on #174
I dont think your package is usable here, because it doesn't support PHP versions below 7.1.

[2017-01-04 08:43] asgrim commented on #174
We can always bump minimum version to 7.1 ;)

[2017-02-09 07:15] Froxz opened #178 "Tablet detected as Smartphone"
Hi,
Samsung Tablet Tab S is detected as mobile not tablet, is there is workaround on this?

[2017-02-09 07:20] mimmi20 commented on #178
Please open a ticket in the browscap/browscap project and add the useragent of the device.

[2017-02-09 09:21] #178 closed

[2017-02-09 09:22] asgrim commented on #178
@Froxz yes, please open a ticket in https://github.com/browscap/browscap/issues/new - make sure you include at least one sample UA string, thanks!

[2017-02-12 08:01] jaydiablo opened #179 "Parsing difference compared to PHP's get_browser"
I was looking at a comparison between some browscap parsers and noticed a useragent that doesn't parse the same way in browscap-php 3.0 and PHP's native get_browser function (php 7.0.15) using the same data file (full file, version 6021).

Here's the UA:

(This is probably a contrived UA. It comes from the test suite from this project: https://github.com/faisalman/ua-parser-js  That said, I think

[2017-02-12 10:03] mimmi20 commented on #179
The reason for this difference is the caching which was changed between v2 and v3. The v3 caching was adopted from crossjoin v1 and was ported to browscap-js.

[2017-02-12 10:04] mimmi20 commented on #179
@jaydiablo If you want this issue to be fixed you should open an issue in browscap/browscap.

[2017-02-12 16:25] asgrim commented on #179
@mimmi20 surely this is an issue in the library though? I haven't looked at the problem yet, but if the same INI is used, then it may be a bug...?

[2017-02-12 17:31] jaydiablo commented on #179
I'd consider it a bug in the parser, IMO.

I'm looking at the code a little bit (I'm somewhat familiar with the strategy behind Crossjoin 1.x as I helped optimize it a bit back in the day).  Some hashes are generated from the useragent, starting with the first 9 characters of the agent, and moving down to just the first character, which results in these hashes for this agent:

[code]

Those hashes

[2017-02-12 19:53] mimmi20 commented on #179
@asgrim The difference is the cache creating/using. In browscap v2 the rules are sorted by length only. In browscap v3 first we sort for the part until the first space or regex placeholder, for the complete length second.

[2017-02-13 16:18] jaydiablo commented on #179
So if I modify the parser to find all available patterns that have the right hash + length, sort those by length, and then compare, it does find the right pattern for this particular user-agent, and all of the browscap (6021) tests pass against it, except for one:

The tests define and browscap-php 3 parses this as: "CaptiveNetworkAgent" on an ios device. This is the pattern selected:

My modified

[2017-02-13 19:03] mimmi20 commented on #179
If possible and if we dont become too slow there should be the same result.

[2017-02-13 23:27] jaydiablo commented on #179
I was curious how often this might be happening with other user-agents outside of the browscap test suite.

I ran ~47,000 useragents (that live in other parsers' test suites) against `browscap-php` 3, my modified version of `browscap-php` 3 and also php 7.0.15's `get_browser` just to see how many get parsed differently by the 3 different implementations.

 * My modified version of `browscap-php` p

[2017-02-14 01:04] jaydiablo commented on #179
Here's a CSV that has the useragents that `get_browser` parsed differently than my modified version of `browscap-php`:

[modified_vs_get_browser.csv.zip](https://github.com/browscap/browscap-php/files/772795/modified_vs_get_browser.csv.zip)

Some of that seems like just an ordering difference (like choosing to use `*goog*` vs. using `*java*`).  These ones stood out to me though:

UserAgent|modifie

[2017-02-14 07:57] mimmi20 commented on #179
Patterns like `itunes` should not match anything because this are not a really user agents. These patterns are there to group properties together to keep the ini file small.

See also issue browscap/browscap#3.

[2017-02-14 18:49] jaydiablo commented on #179
@mimmi20 Thanks for the clarification on that, safe to ignore those ones then.

As for the rest that `get_browser` parses differently, if I modify the ordering of the patterns slightly I can get the list down to 18.

[modified_vs_get_browser_updated.csv.zip](https://github.com/browscap/browscap-php/files/774675/modified_vs_get_browser_updated.csv.zip)

The sorting of the patterns was originally "l

[2017-02-14 20:20] mimmi20 commented on #179
@jaydiablo For all these useragents I prefer the patterns the get_browser function found, but then I look on the differences between these pattern I think that a cleanup is required.
For example: all pattern for the IE on Mac should be in the group [IE Mac].

Could you open an issue for browscap/browscap to cleanup the pattern a little bit and add the 18 useragents there?

[2017-02-14 22:33] jaydiablo commented on #179
The `*netfront/3.1*`/`*netfront/3.5*` ones are somewhat interesting and probably not something that can be fixed with any sort of ordering (since one of the optimizations in the pattern cache is to turn digits into `[\d]`. However, the result could be ambiguous depending on which Netfront we're trying to capture. I can make `browscap-php` act like PHP's `get_browser` by taking away the greediness

[2017-02-14 22:44] jaydiablo commented on #179
@mimmi20 Sure, will do.

[2017-02-15 00:35] jaydiablo commented on #179
I actually hadn't re-run the full list of agents since making some of the sorting tweaks (btw, the sorting that I mention I had to change from ascending to descending, that wasn't actually the case, just an error in how I had them setup initially).  The list is at 108 right now (with some of those invalid ones removed).  Most of them are of this variety:

Which has `browscap-php` selecting this pa

[2017-02-15 07:44] jaydiablo commented on #179
Aside from those Symbian agents that I already looked at, here's my analysis as to why `browscap-php` selects a different pattern for the other user agents in that list:

<table>
<tr><th>Agent</th><th>browscap-php pattern</th><th>get_browser pattern</th></tr>
<tr><th colspan="3">Analysis</th></tr>
<tr><td>Windows-RSS-Platform/2.0 (MSIE 9.0; Windows NT 6.0)</td><td><code>windows-rss-platform/2.0 (m

[2017-02-21 01:16] jaydiablo commented on #179
After some more testing, and a bit of a look at the php source for the `get_browser` function I've got `browscap-php` parsing that list of useragents as close as I think I can make it without incurring too much of a penalty on performance (though there is a penalty).

`get_browser` appears to go through the INI file in order, and tries to quickly exclude any patterns that it can, but it doesn't st

[2017-02-21 19:27] jaydiablo commented on #179
This is the branch that I've put together that has the work I've done to try and get `browscap-php` to match `get_browser`.

https://github.com/jaydiablo/browscap-php/tree/accuracy-test-dual-length

As mentioned above, there are still 16 agents of that ~47,000 list that parse differently, due to the reasons mentioned in my last comment.

Performance wise, it processes the agents from the browscap/

[2017-02-25 17:31] jaydiablo commented on #179
I've been able to shave another ~10 seconds off that parse time for the browscap test suite agents, which puts this branch at about 43 seconds vs. the original's 27 seconds.  Memory use was a bit lower still, but not by much.

I'll clean up and publish soon.

[2017-02-25 22:00] jaydiablo commented on #179
This branch (https://github.com/jaydiablo/browscap-php/tree/accuracy-test-dual-length-word-filter) extends on the work I did earlier to get the accuracy of the parser down to only 13 differing useragents (same as before).

It adds a word filtering step that quickly reduces the applicable pattern list by extracting the longest word (with a few exceptions like "mozilla" and "android") from the patte

[2017-02-26 02:41] jaydiablo commented on #179
I ran all three (`get_browser`, `browscap-php` 3.0 and my branch of `browscap-php`) against 50,000 unique "real world" useragents (from our logs over past 30 days).

`browscap-php` 3 parsed 94 differently than `get_browser` did.

[missed.txt](https://github.com/browscap/browscap-php/files/801696/missed.txt)

My branch parsed 1 differently than `get_browser` did.

Time taken:

 * `get_browser`: 904

[2017-02-26 09:52] mimmi20 commented on #179
Are these useragents part of the list you posted before?

[2017-02-26 14:52] jaydiablo commented on #179
@mimmi20 No, this is a different list, the 50,000 was taken from our server logs for the last 30 days. The other ~47,000 list was taken from test suites of other parsers (including browscap's).

[2017-02-28 15:17] psytraxx commented on #172
its the line

$response = $this->getClient()->get($uri, ['timeout' => 5]);

src/BrowscapUpdater.php

can one not just remove that option - default is 0 - no timeout which would fix this issue too

[2017-02-28 15:19] asgrim commented on #172
Already fixed in #175. Not released yet though; will be in next release (probably `3.1.0`)

[2017-02-28 15:19] #172 closed

[2017-03-07 07:52] #96 closed

[2017-03-27 06:50] WhiteLoti opened #188 "No Active Cache Available"
I followed all the steps for setting browscap and caching the Full_PHP_BrowscapINI but I'm still getting the error "Uncaught exception 'BrowscapPHP\Excption' with message 'there s no active cache available, please run the update command' in composer/vendor/browscap/browscap-php/src/Browscap.php. I checked and that file doesn't have a function for update the BrowscapUpdater.php file does. I ran the

[2017-03-27 07:25] mimmi20 commented on #188
Please add the code you are using to call Browscap and some information like PHP version, OS.

[2017-03-27 07:27] simontong opened #189 "Extracting properties"
Whats the best way of going about extracting properties without having to provide user_agents?
eg a list of Device_Types:
Tablet
iPhone
etc.
etc.

[2017-03-27 07:40] mimmi20 commented on #189
Please look into the file  src/Data/PropertyHolder.php into the function `checkValueInArray`. You will find all possible values in there. This function validates the values from the ini file.

[2017-03-27 07:46] simontong commented on #189
Ah yes. My mistake!

[2017-03-27 09:41] WhiteLoti commented on #188
Ubuntu 12.04.5 LTS x86_x64
PHP v5.6.29

CLI
    cd composer/vendor/bin
    ./browscap-php browscap:fetch –r Full_PHP_BrowscapINI ./browscap-cache
    ./browscap-php browscap:convert

PHP_SCRIPT
    $memcached_configs = array('host'=>'127.0.0.1','port'=>'11211','namespace'=>'wurfl','cacheExpiration'=>0);
    $wurfl_cache = new \WurflCache\Adapter\Memcached($memcached_configs);
    $browscap = new \

[2017-03-27 09:52] mimmi20 commented on #188
This is an error in the documentation. If you are using Memcache, you can't use the CLI scripts.

[2017-03-27 20:54] WhiteLoti commented on #188
This may be out of your scope but how do I get the wurfl adapter to work with the cached file in memcached.

How can I use the setCache function in BrowscapUpdater if it isn't returned to an object such as browscap?

[2017-03-28 07:14] mimmi20 commented on #188
You have to set the same cache object to the BrowscapUpdater as you set to Browscap.

[2017-03-28 10:29] WhiteLoti commented on #188
Here is my code so far and I'm still getting the same error.
`    $memcached_configs = array('host'=>'127.0.0.1','port'=>'11211','namespace'=>'wurfl','cacheExpiration'=>0)
     $wurfl_cache = new \WurflCache\Adapter\Memcached($memcached_configs);
     $browscap_updater = new \BrowscapPHP\BrowscapUpdater();
     $browscap_updater->setCache($wurfl_cache);
     $browscap = new \BrowscapPHP\Browscap()

[2017-03-28 10:36] asgrim commented on #188
@WhiteLoti please can you provide a full stack trace, helps debugging - thanks!

[2017-03-28 10:37] #189 closed

[2017-03-28 11:05] mimmi20 commented on #188
@WhiteLoti Please add `$browscap_updater->update(\BrowscapPHP\Helper\IniLoader::PHP_INI_FULL);` after the 4. line.
Please use `$browscap->setCache($wurfl_cache);`.

[2017-03-28 11:06] mimmi20 commented on #188
@WhiteLoti Please split this script into two scripts, one for the update and one for the detecting.

[2017-03-28 23:39] WhiteLoti commented on #188
These are the two script I have. Is this what you meant @mimmi20?

$browscap_updater = new \BrowscapPHP\BrowscapUpdater();
$browscap_updater->update(\BrowscapPHP\Helper\IniLoader::PHP_INI_FULL);

$memcached_configs = array('host'=>'127.0.0.1','port'=>'11211','namespace'=>'wurfl','cacheExpiration'=>0);
$wurfl_cache = new \WurflCache\Adapter\Memcached($memcached_configs);
$browscap = new \BrowscapPH

[2017-03-29 06:15] mimmi20 commented on #188
Your memchached has to run, to get this working.

[2017-03-29 17:07] WhiteLoti commented on #188
I have tried everything I can think of to get memcached to work including looking at several websites for installation and configuration.  I can start memcached but when I go to check the status it says not running. I am thinking of switching caching. Would wurfl-cache work with Redis?

[2017-03-30 03:58] WhiteLoti commented on #188
I'm running it on a Ubuntu 12.04 LTS machine with php v5.6. Is memcache different from memcached? Is memcached not support in php v5.6?

I'm still getting the error:  Uncaught exception 'WurflCache\Adapter\Exception' with message 'The PHP extension memcached must be installed and loaded in order to use the Memcached

I keep seeing how to setup memcache on apache but I didn't see anything about mem

[2017-03-30 05:25] asgrim commented on #188
This isn't a support forum for memcached. Once you have memcached working, we can help you with the browscap library.

[2017-03-30 05:25] #188 closed

[2017-04-04 06:44] WhiteLoti opened #190 "Guzzle times out when downloading any browscap file"
[code]

Any suggestions?

Here's the script
[code]

[2017-04-04 07:27] mimmi20 commented on #190
Did you try to ping the browscap.org domain? You can also set an timeout with `setConnectTimeout($connectTimeout)`.

[2017-04-04 08:21] asgrim opened #191 "Create a separate component for Apache logfile reader"
I want to try to keep the focus of `browscap-php` on only updating/parsing the INI. Therefore, want to look at removing the Apache logfile reader and creating a separate library for doing this task.

[2017-04-04 08:39] asgrim opened #192 "Replace setter injection with constructor injection hinting to interfaces"
We have a lot of setter injection which should be replaced with strictly constructor injection only.

Where a dependency is optional, a workaround is to provide a static constructor with defaults, e.g.:

[code]

[2017-04-04 08:40] asgrim opened #193 "Remove all fluid interfaces"
Remove all `return $this;` ;)

[2017-04-04 08:41] asgrim opened #194 "Add type declarations throughout, including ` : void` (php 7.1)"
Bump version to PHP 7.1 and add type declarations for parameters and return values throughout the project, including ` : void`.

[2017-04-04 08:41] asgrim commented on #194
This is in progress at the moment.

[2017-04-04 08:42] asgrim opened #195 "Add interfaces for many classes"
Currently it is a concrete implementation with no interface. Add one.

 * `Converter`
 * `IniLoader`
 * `Quoter`
 * `Support`
 * `IniParser`
 * `Browscap`
 * `BrowscapUpdater`

[2017-04-04 09:01] asgrim opened #196 "LoggerHelper should be a static util class"
`LoggerHelper` is an instantiable class, the `create` method is nothing more than a factory, so should be invoked like:

[code]

[2017-04-04 09:10] asgrim opened #197 "Pattern::getHashForPattern has has mixed return types"
We cannot hint this in #194 as the return type is `string|array`. This could potentially be converted to just return `array` of `strings` and the caller code handle it accordingly.

[2017-04-04 09:11] mimmi20 commented on #194
Which IDE are you using? My IDE (version) doesn't support PHP 7.x features.

[2017-04-04 09:12] asgrim commented on #194
PhpStorm :)

[2017-04-04 09:21] asgrim opened #198 "Browscap::setCache accepts mixed types"
We should enforce only one cache type (`BrowscapCacheInterface`) rather than allowing different types, leave it up to type system to complain about incompatible types, but provide a way to factory those easily , e.g. in #192

[2017-04-04 09:23] asgrim commented on #198
Also applies to `BrowscapUpdater::setCache`

[2017-04-04 09:30] mimmi20 commented on #198
This relates also to #174.

[2017-04-04 09:31] asgrim commented on #198
Yep

[2017-04-04 11:01] asgrim opened #200 "Use PHPUnit 6 and update other dependencies"
Pretty much as per description...

[2017-04-04 13:30] WhiteLoti commented on #190
The ping to browscap.org is working fine. Where do I look for the setconnectTimeout($connectTimeout)? I didn't find it in the CurlFactory.php

[2017-04-04 14:24] WhiteLoti commented on #190
Is new  new BrowscapUpdater not namespaced to new \BrowscapPHP\BrowscapUpdater()?

The $connectTimout is in milliseconds right?

Anyway here's what I updated in BrowscapUpdater.php

$memcached_configs = array('host'=>'127.0.0.1',
 34                                        'port'=>11211,
 35                                   'namespace'=>'wurfl',
 36                             'cacheExpiration'=>0

[2017-04-04 15:05] asgrim opened #201 "Should FormatterInterface::getData be nullable return type?"
https://github.com/browscap/browscap-php/pull/199#discussion_r109685314

[2017-04-04 20:40] mimmi20 commented on #190
@WhiteLoti Then use more memory.

[2017-04-04 20:51] WhiteLoti commented on #190
@mimmi20 Is setConnectTime in milliseconds or seconds?

[2017-04-04 21:05] mimmi20 commented on #190
It should be seconds.

[2017-04-04 21:11] #194 closed

[2017-04-04 21:56] WhiteLoti commented on #190
Why is no one else having trouble with this? I changed the memory limit in both my BrowscapUpdater.php and AbstractAdapter.php along with my Memcached instance to 2GB, why am I still having this problem?

PHP Fatal error:  Allowed memory size of 2147483648 bytes exhausted (tried to allocate 262144 bytes) in /www/composer/vendor/mimmi20/wurflcache/src/Adapter/AbstractAdapter.php on line 257

[2017-04-05 08:48] WhiteLoti commented on #190
Why am I getting no active cache?

Fatal error: Uncaught BrowscapPHP\Exception: there is no active cache available, please run the update command in /www/composer/vendor/browscap/browscap-php/src/Browscap.php

I used the browscap vendor/bin/browscap-php browscap:update --remote-file Full_PHP_BrowscapINI

[2017-04-05 09:09] mimmi20 commented on #190
If you use the CLI command you can't use Memcache.

[2017-04-05 18:49] WhiteLoti commented on #190
PHP Fatal error:  Allowed memory size of 2147483648 bytes exhausted (tried to allocate 262144 bytes) in /www/composer/vendor/mimmi20/wurflcache/src/Adapter/AbstractAdapter.php on line 257
I still keep getting this error. I increased the memory on the AbstractAdapter.php script, BrowscapUpdater.php script and memcache to 2G. Where am I messing up?

`18     public function __construct()
     19

[2017-04-05 19:17] WhiteLoti commented on #190
PHP Fatal error: Allowed memory size of 2147483648 bytes exhausted (tried to allocate 262144 bytes) in /www/composer/vendor/mimmi20/wurflcache/src/Adapter/AbstractAdapter.php on line 257
I still keep getting this error. I increased the memory on the AbstractAdapter.php script, BrowscapUpdater.php script and memcache to 2G. Where am I messing up?

     14 class BrowscapUpdater
     15 {
     16

[2017-04-05 19:23] mimmi20 commented on #190
Could you try your script with a file cache?

[2017-04-05 19:24] WhiteLoti commented on #190
How so?

[2017-04-05 19:27] mimmi20 commented on #190
$wurfl_cache = new \WurflCache\Adapter\File(array('DIR' => '<dir>'));

[2017-04-05 20:00] WhiteLoti commented on #190
The cached was downloaded, however the cache it s not appearing for Browscap.

Fatal error: Uncaught BrowscapPHP\Exception: there is no active cache available, please run the update command in /www/composer/vendor/browscap/browscap-php/src/Browscap.php:231 Stack trace: #0 /www/PageLoader.php(58): BrowscapPHP\Browscap->getBrowser() #1 /www/public/index.php(14): PageLoader->__construct() #2 {main} t

[2017-04-05 20:26] mimmi20 commented on #190
Did you set the same cache to the updater?

[2017-04-05 20:58] WhiteLoti commented on #190
This is from my BrowscapUpdater.php Script

[code]

This is from my Browscap.php Script

[code]

[2017-04-05 21:37] mimmi20 commented on #190
Cozuld you post your complste scripts? I dont really understand what you are doing.

[2017-04-05 21:54] WhiteLoti commented on #190
This is the update php script
[code]

This is the browscap script.I changed the adapter to file cache as suggested. All I'm trying to do is load browscap from cache, not disk because that is too slow. Display the browscap for the given user agent string. Pretty simple.
[code]

[2017-04-11 03:23] WhiteLoti opened #203 "ResponseTime Check"
What are the response times I should be expecting after caching the Full Browscap.ini file in memcached? I'm averaging 20ms but occasionally I will get 150ms on my local machine.

[2017-04-11 03:26] #190 closed

[2017-04-11 06:14] mimmi20 commented on #203
It depends on the useragent. If more pattern are required to check to get a result, then more time is needed.

[2017-04-11 07:23] #203 closed

[2017-04-17 05:16] WhiteLoti opened #204 "Not getting user agent string array"
I have the browscap.ini full version cache and I think all of it is working except retrieving the user_agent_string server variable. Nothing appears in the array, not even the browser_name_regex

My User Agent String is Mozilla/5.0 (X11: Linux x85_64: rev52.0) Gecko/20100101 Firefox/52.0
My browscap version is 6022

The code is
`   $browscap = new \BrowscapPHP\Browscap();
    $adapter = new \Wurlf

[2017-04-17 07:35] mimmi20 commented on #204
What is the result?

[2017-04-17 07:43] WhiteLoti commented on #204
stdClass Object ( [browser_name_regex] => [browser_name_pattern] => [comment] => Default Browser [browser] => Default Browser [browser_type] => unknown [browser_bits] => 0 [browser_maker] => unknown [browser_modus] => unknown [version] => 0.0 [majorver] => 0 [minorver] => 0 [platform] => unknown [platform_version] => unknown [platform_description] => unknown [platform_bits] => 0 [platform_maker] =

[2017-04-17 08:29] mimmi20 commented on #204
Did downloading the ini file and creating the cache succeed without any errors?

[2017-04-17 08:35] WhiteLoti commented on #204
Yes compared to the other ways I've tried and received errors. Can you download and cache a file in the CLI? I downloaded it and cached it to the directory, then ran the script above and got no errors. So I knew that wurlfcache was working compared to the other times it saying that there was no active cache.

[2017-04-17 09:16] mimmi20 commented on #204
Could you try with setting the user agent as parameter to the getBrowser function?

[2017-04-17 09:24] WhiteLoti commented on #204
Same result when setting $_SERVER['HTTP_USER_AGENT']; to the getBrowser function.

[2017-04-17 10:35] mimmi20 commented on #204
Are you trying to run your script in the CLI or in via a web server? If you are trying to run it in th CLI, you have to check, if `HTTP_USER_AGENT` key is set in the $_SERVER var.

[2017-04-17 16:19] WhiteLoti commented on #204
I only cached with the browscap with the CLI. Running the script I used the web server.

[2017-04-18 04:36] WhiteLoti opened #206 "Can't retrieve file after fetching"
[code]

I'm trying to retrieve the file from the script and save it in a directory. After I run the script I cannot seem to find the browscap.ini file or where I am supposed to set the directory to place the file.

[2017-04-18 04:36] #204 closed

[2017-04-18 08:52] mimmi20 commented on #206
If you don't change the current directory in your script, the file should be in the directory you have started your script.

[2017-04-18 09:23] WhiteLoti commented on #206
@mimmi20 is the script set up correctly because every time I execute the script from the CLI not using the CLI commands, I do not see the browscap file in the executing directory.

[2017-04-18 09:40] WhiteLoti commented on #206
@mimmi20 is the above script written correctly because I am not getting a BrowscapINI file or directory after executing the script.

[2017-04-18 19:06] mimmi20 commented on #206
The script you posted looks fine.

[2017-04-18 19:23] WhiteLoti commented on #206
Does the script get executed as a general user because they do not have permissions to write in that directory. Would the PSR log tell me anything and how would I go about setting that up?

[2017-04-18 20:51] mimmi20 commented on #206
You need write access to the target directory. How to set up a logger you find in the readme.

[2017-04-18 22:47] WhiteLoti commented on #206
@mimmi20 I finally figured out the problem and it was not at all what I expected. I had write access to the directory and sub-directories it was writing to. For some odd reason you cannot assign a caching method before fetching the data before fetching it. I know it shouldn't have any impact the code on fetching but on my system if you remove lines 36-47 it works, If you keep lines 36-47 it does n

[2017-04-19 07:27] WhiteLoti opened #207 "Can't cache file in the script after converting it"
[code]

Everything works up till line 99. 99 I think it converts and sanitizes the file but it doesn't cache it. I set a cache and cache directory is there something else in my script I'm missing?

[2017-04-19 10:03] mimmi20 commented on #206
If you have the same file already written into the cache, the screen does not fetch the file again.

[2017-04-19 10:04] mimmi20 commented on #207
Could you remove the line numbers from your sample or format ist properly?

[2017-04-19 17:01] WhiteLoti commented on #206
There was never a browscap file in the directory before or after I tried the fetching method.

[2017-04-19 17:08] WhiteLoti commented on #207
Ya sorry about that github didn't put my code into a code block when I pressed the format button.

[2017-04-19 19:16] mimmi20 commented on #207
I dont see anything wrong in your script. If have not have any errors in your logs, have set the directory rights for the cache dir and have enough memory, I don't have any idea to help you. Otherwise, did you try to debug your script?

[2017-04-19 23:07] WhiteLoti commented on #207
Do I need to initialize the cache directory in composer?

[2017-04-20 01:28] #206 closed

[2017-04-20 01:49] WhiteLoti commented on #207
Okay so the wurflcache file adapter was pointing to tmp/ according to var_dump. I corrected it and now it fetches and caches the file correctly using wulfcache file. Below is the final code for anyone who wants to use wulfcache file cache adapter.

[code]

[2017-04-20 02:06] WhiteLoti commented on #207
Okay so the wurflcache file adapter was pointing to tmp/ according to var_dump. I corrected it and now it fetches and caches the file correctly using wulfcache file. I got permission to post the full code so below is the final code for anyone who wants to use wulfcache file cache adapter in the future. Feel free to get rid of the try-catch statements. Just call the php script with "php BrowscapUpd

[2017-04-20 06:23] mimmi20 commented on #207
Why did you use a class for your script? Wouldn't been a inline script for this enough?

[2017-04-20 06:24] mimmi20 commented on #207
If your issue is solved, please close the issue.

[2017-04-20 09:13] #207 closed

[2017-05-08 15:24] amoreir opened #208 "Server error: `GET http://browscap.org/stream?q=PHP_BrowscapINI` resulted in a `503 Service Temporarily Unavailable`"
It looks like browscap is using Cloudflare now to avoid DDoS attacks which means it's returning html instead of returning the .ini file.
This error happens when I run **browscap:fetch** to get the config.
Any help?
Thank you.

[2017-05-08 15:27] asgrim commented on #208
We've been using Cloudflare for a while. However since last night we have been getting unusually high volume of traffic. I've turned off the DDoS protection now though and we'll see how it goes.

But yes, the status code doesn't lie, the service was temporarily unavailable ;)

[2017-05-08 15:27] #208 closed

[2017-05-08 15:29] amoreir commented on #208
Cool, thanks 👍

[2017-05-29 13:39] swissdude opened #209 "can't download the ini-file?"
I'm trying to install the PHP-scripts and as stated in the docs, I try to download the browscap.ini file by issuing the command «vendor/bin/browscap-php browscap:fetch».
After a while I get an error saying the Server gave an error 522 - Origin Connection Time-out.

When I try to access the page via Browser, I get an 502 invalid Gateway error (Cloudflare).

Is this just a temporary hickup or is bro

[2017-05-29 14:19] jaydiablo commented on #209
browscap.org also doesn't load for me, @asgrim.

[2017-05-29 18:52] asgrim commented on #209
Yeah, sorry folks, I was travelling and I got notifications we'd almost consumed all available bandwidth; I only had time to shut it down just to avoid hitting the limit. I've just got back today and turned the server back on.

[2017-05-29 18:54] #209 closed

[2017-05-31 13:17] c9s opened #210 "vendor/bin/browscap-php browscap:fetch [file] isn't working"
[code]

didn't store the a.ini in the current directory.

[2017-05-31 22:16] WhiteLoti opened #211 "ResponseTimes: Memcached vs file cache?"
From my tests using both Memcached and file cache I got some interesting results that I want to verify.
All of my test concluded that file cache works faster than memcached. I thought they were both stored in memory so why is one out performing the other by a significant amount?

Memcached Tests:
22.076 ms
11.674ms
8.294ms
8.475ms

File Cache Tests:
4.868 ms
5.043 ms
4.925 ms
10.283 ms

[2017-05-31 22:51] #211 closed

[2017-05-31 22:52] WhiteLoti commented on #211
I figured it out. Memcached has to serialize and unserialize every time.

[2017-06-15 18:28] holtkamp opened #212 "Inconsistent BrowscapPHP::getBrowser() property types"
When using the default formatter and invoking [https://github.com/browscap/browscap-php/blob/41d47ba71806dc059f2b8e3cc4ff94e4f1df399c/src/Browscap.php#L192]($browscap->getBrowser()] an object of type `stdClass` is returned, which has some properties defined.

The types of these properties seem not all parsed to a primary type. For example:

- ` ["crawler"] => string(5) "false"`  => value is a `str

[2017-06-15 18:57] mimmi20 commented on #212
Its purpose. Every property should be a string.

[2017-06-15 18:58] mimmi20 commented on #212
@holtkamp Could you add the useragent which you used?

[2017-06-18 14:59] mimmi20 commented on #210
@c9s I could not verify this. Could you provide more information about the version of `browscap-php` you are using?

[2017-06-23 11:52] c9s commented on #210
I use this:

[code]

The cat command should return the content of the file, but the file is not there.

[2017-06-24 05:58] asgrim commented on #210
@c9s what is the output of the `browscap-php` command please?

[2017-06-24 05:59] c9s commented on #210
No error message and nothing was printted

[2017-06-24 06:04] asgrim commented on #210
OK, seems strange. As requested, please could you let us know what *version* of browscap-php you're using?

[2017-06-24 06:06] asgrim commented on #210
FWIW, I can't reproduce this either using latest `master` at least:

[code]

[2017-06-24 06:06] c9s commented on #210
I just followed the instructions described in the readme.

It works fine Through the API, but it seems not working through the commands.

I will retry this in my environment late today.

[2017-08-03 20:57] KyKyIIIKuH opened #215 "incorrect display for User Agent"
Hello,
When I go to the browser "Google Chrome", UA Lookup wrote that I went to the browser chrome.
But if to come to the browser "Amigo Browser", UA Lookup wrote that I went to the browser chrome, instead of to write browser "Amigo Browser".
Also, if I log in from the browser "UC Browser", UA Lookup writes that I went with the browser chrome, instead of writing a browser "UC Browser:".
____
Когда

[2017-08-04 06:15] mimmi20 commented on #215
Please move this issue to the project browscap/browscap.

[2017-08-09 13:55] bertptrs opened #216 "BrowscapUpdater::checkUpdate is inconvenient to use programatically"
Currently, `BrowscapUpdater::checkUpdate` returns

- `null` when everything is fine and no action is needed
- The current version number when an update is available
- `0` in case of an error, which can either be
    1. There is no local version available
    2. There was a problem retrieving the current version number

The problem arises in the last case. If there is no local version available, th

[2017-08-14 10:01] asgrim commented on #216
Yes, I agree the multiple return types are really not ideal or intuitive.

I think, however, if there are issues retrieving the version number then these should be thrown as exceptions, rather than having a specific return type. This would be a BC break of course, but a reasonable one. Therefore, the return values would be:

 * `null` if no new version needed
 * Version number if update is availab

[2017-08-14 10:10] bertptrs commented on #216
An exception would be even better, perhaps a `FetcherException`? That one is being used by the updater already.

[2017-08-14 10:16] asgrim commented on #216
Yep, seems reasonable

[2017-08-16 07:16] mimmi20 commented on #210
@c9s Did you install browscpa-php via composer?

[2017-08-16 07:19] #215 closed

[2017-08-23 13:08] jakenoble commented on #210
Same issue

After running `composer require browscap/browscap-php`

There is no file to use in `vendor/bin/browscap-php`

[2017-08-28 18:12] jaydiablo opened #219 "Add Discord Bot"

[2017-08-28 18:12] #219 closed

[2017-08-28 18:13] jaydiablo commented on #219
Sorry, wrong project. :)

[2017-08-29 19:18] #212 closed

[2017-08-30 07:08] #216 closed

[2017-08-30 13:16] #174 closed

[2017-08-30 13:16] #192 closed

[2017-08-30 13:16] #193 closed

[2017-08-30 13:16] #195 closed

[2017-08-30 13:16] #196 closed

[2017-08-30 13:16] #197 closed

[2017-08-30 13:16] #198 closed

[2017-08-30 13:16] #201 closed

[2017-08-30 13:16] asgrim commented on #200
Handled in #218 also

[2017-08-30 13:17] #200 closed

[2017-08-30 13:45] mimmi20 commented on #210
@c9s @jakenoble Which platform do you use? I cannot reproduce this with Linux.

[2017-08-30 13:49] mimmi20 opened #220 "update other dependencies"
These dependencies were not updated within #218:

- symfony
- cs-fixer
- codesniffer
- monolog

[2017-08-31 12:19] jakenoble commented on #210
@mimmi20 I have managed to fix it, thanks for your time

[2017-08-31 12:22] mimmi20 commented on #210
@jakenoble I there somthing to fix or to better to explain in the doc?

[2017-08-31 12:24] jakenoble commented on #210
@mimmi20 Ah no, it was an issue with my host

[2017-09-02 16:13] #220 closed

[2017-09-26 16:04] kulbakin opened #223 "Safari 11.0 detection error"
For some reason Safari 11.0 is detected wrong, namely version is set to 0
Full browser string looks like this (from real browser)
[code]
For testing purposes I tried to change version to anything lower, e.g. 10.0 and it parsed OK. So it seems there is a cap on available version or something. I don't know whether it is browscap-php related or underlying browscap.

[2017-09-27 15:17] jaydiablo commented on #223
Safari 11 was just recently added to the browscap data files:

https://github.com/browscap/browscap/pull/1595 (for Mac)

and

https://github.com/browscap/browscap/pull/1575 (for iOS)

And will be available in the next release of the browscap INI file.  However, your UA is Windows 7, and as far as I know, the last Safari version available for Windows was 5.1 (https://en.wikipedia.org/wiki/Safari_ve

[2017-09-27 16:17] kulbakin commented on #223
ups, that is not actual string, that came from my debugging tests.
the actual one from where it all started is
[code]

[2017-09-27 22:11] jaydiablo commented on #223
Ah, that's better :)

Yeah, that version will be caught properly once version 6025 of the INI file is released:

[code]

[2017-09-27 22:11] #223 closed

[2017-10-02 02:48] deepakdalakoti commented on #210
@jakenoble how did you solve this problem? I am facing similar issue

[2017-10-02 07:38] jakenoble commented on #210
It was a hosting issue, the php.ini I was changing was not the right one

[2017-10-02 07:43] deepakdalakoti commented on #210
Your earlier comment says that you didn't have a vendor/bin/browscap-php file. Which php.ini did you change?

[2017-10-03 15:23] EtienneDh opened #224 "Cannot get browser version since Firefox update to v56"
Hi,

I recently discovered this library while working on a project, so first thanks for providing us a better way to detect browser.

However it seems like checking version for firefox is broken since last update (v56) as it returns "0".

[2017-10-03 15:39] jaydiablo commented on #224
Thanks for the report, yes, Firefox 56 isn't detected yet. Support for that version was added recently but hasn't made its way to a released version of the data files yet. Once `6025` of the data files are released, Firefox 56 will detect properly.

Added in this commit: https://github.com/browscap/browscap/commit/0673e056fb10564e1c17235a185397c723c2f30f#diff-106a5587c93991de9fade2f14e69445a

`602

[2017-10-03 15:39] #224 closed

[2017-10-11 09:59] rogan-son opened #225 "Automatic update still works on even though it was already turned off"
https://github.com/hisorange/

I set 'doAutoUpdate' to 'false' to turn off auto update.
But, it seems like still trying to update automatically.
Can you help me to disable this option?

hisorange/browser-detect/src/config/plugins.php
'doAutoUpdate' 	=> false

[2017-10-11 10:33] mimmi20 commented on #225
@rogan-son You are using `garetjax/phpbrowscap`, not this project. Please update your dependencies and try again.

[2017-10-11 11:11] #225 closed

[2017-11-03 17:47] malaire opened #226 "How to define custom cache directory?"
Documentation only mentions how to use custom cache directory with CLI commands, but not how to use it within PHP.

[2017-11-05 18:55] KacerCZ commented on #226
Create instance of cache with directory you want and then call `setCache()` on `Browscap` instance:

[code]

[2017-11-05 20:02] malaire commented on #226
@KacerCZ  According to documentation, those commands enable using "v2 cache directory".

I don't want to use old features, so how do I use v4 cache directory, just in different location?

Also setCache has been removed in v4.

[2017-11-05 20:29] mimmi20 commented on #226
For version 4 you have create a cache adapter yourself.

An example:
[code]

[2017-11-05 20:31] mimmi20 commented on #226
You may use any other cache that implements the PSR-16 (e.g. Symfony Cache).

[2017-11-27 06:06] reedzhao opened #228 "503: Service Temporarily Unavailable. `http://browscap.org/stream?q=PHP_BrowscapINI`"
I am getting error when I try to update browscap.

`wget http://browscap.org/stream?q=PHP_BrowscapINI`
[code]

However, if I try to download through browser, the file can be downloaded.

[2017-11-27 06:09] reedzhao commented on #228
#208

[2017-11-27 07:29] akinor1ty commented on #228
Same here

[2017-11-27 07:37] asgrim commented on #228
Due to extremely high levels of abuse traffic, and having almost reached our bandwidth limit for the month, I've had no option but to turn on CloudFlare's DoS protection (puts up a JS challenge). I don't have time at the moment to put measures into place to mitigate the problem, so I'm afraid you'll have to download manually in the browser for now.

[2017-11-27 08:42] JordyZomer opened #229 "get_browser(); only shows response every once in a while."
Goodmorning Browscap devs,

One of our customers uses browscap.

They use the following code to check the browser:

[code]

The weird thing is that for some reason it only shows the results once.

I've checked if the ini setting for the browscap.ini file exists using ini_get and phpinfo();

The PHP version is 7.0.25.

And the setting is there. Do you have any clue what this issue may be?

Kind Reg

[2017-11-27 08:51] asgrim commented on #229
Are you using the built-in `get_browscap()` function? Or are you using `browscap/browscap-php` composer package? If the latter, which version please?

[2017-11-27 08:56] JordyZomer commented on #229
Hello Asgrim,

We use the following:

`$browser = get_browser($_SERVER[‘HTTP_USER_AGENT’], true);
print_r($browser);`

[2017-11-27 12:05] mimmi20 commented on #229
@JordyZomer Does your customer have more than one server? Is the browscap.ini file available that is written in the php.ini? Did you restart the apache after adding the browscap entry to the php.ini? Do you have any entries in any error log? What is the output if the result is missing?

[2017-11-27 12:20] hankipanky commented on #228
Unfortunately, this is breaking our build process, which checks the version number first before attempting to download the data (if necessary).

Would it be possible for you to restrict the DDoS protection to the actual file downloads, and leave `http://browscap.org/version-number` open? All those well-behaved download clients would continue to work, and I would hope your bandwidth is not too much

[2017-11-27 12:27] asgrim commented on #228
I don't believe that's possible with CloudFlare, and I'm afraid I don't have time to investigate further at the moment, sorry :/

[2017-11-27 12:30] hankipanky commented on #228
ack thanks for responding (and sorry for addressing this here and on the mailinglist in parallel).

[2017-11-27 12:32] asgrim commented on #228
No problem! Sorry it's not much help at the moment, but we don't get any financial support; so my main work has to take priority; it's on my todo list to make the rate limiting more effective, just please bear with me :+1: :)

[2017-11-28 07:30] flogr opened #230 "Cloudflare blocking auto update: Bad datetime format from http://browscap.org/version"
Since Monday, 2017-11-27, i'm getting these exceptions on my daily update of the browscap database.

On checking i recognized you seem to introduced cloudflare protection, which makes it impossible to curl for the current version.

Is this only a temporary situation or do i have to upgrade to the latest version und modify my implementation?

[2017-11-28 07:32] asgrim commented on #230
As discussed in #228, we've enabled DDoS protection to limit bandwidth usage from abusive sources, unfortunately that means the files must be downloaded by hand at the moment, although they have not updated recently anyway.

[2017-11-28 07:32] #230 closed

[2017-11-28 07:33] asgrim commented on #230
Duplicate of #228

[2017-11-28 07:35] flogr commented on #230
Oh, thanks for the info!

[2017-11-30 13:06] JordyZomer commented on #229
@mimmi20 The browscap.ini file is available, right permissions etc. (Also checked the setting with ini_get). We did restart apache. The output if the result is missing is blank. But every other request it shows: [Mon Nov 27 09:41:52.933973 2017] [proxy_fcgi:error] [pid 21522] [client 93.186.191.244:43060] AH01071: Got error 'PHP message: PHP Warning:  get_browser(): browscap ini directive not set

[2017-11-30 13:38] mimmi20 commented on #229
I asume that on that server the `browscap` setting is missing in the php.ini or maybe your server can not read the file.

See also here: https://stackoverflow.com/questions/2036956/browscap-ini-directive-not-set

Make sure the browscap setting is there also in the php.ini that is used by the apache process (It is possible that php standalone uses a different php.ini than php with apache).

[2017-12-01 08:40] Slamdunk commented on #191
This is a good intention, but if you don't have time for it now, can this be postponed in `4.1` or `5.0`, so we can have the `4.0` release with Symfony 4.0 support?

[2017-12-01 09:20] webIMT commented on #228
Hi,
we're the 1st of december, and I'm still getting an http 503 error with my cli script. Is it normal ?

[2017-12-01 09:32] asgrim commented on #228
Hello, sorry I didn't drop everything I'm doing at the stroke of midnight to do something for free. Please be patient, I don't get paid for this.

[2017-12-01 10:25] webIMT commented on #228
OK, thanks for you work !

[2017-12-01 15:02] rgpublic commented on #208
Hm. Seems to happen for me again. Very frustrating. And it seems I cannot specify a local file with "-r". So everything depends on this single URL. And if CloudFlare kicks in, nothing works :-(

[2017-12-01 15:29] asgrim commented on #228
I have removed "I'm under attack" mode on Cloudflare now, so service should be resumed as normal. Thanks everyone, sorry about the hassle :+1:

[2017-12-01 15:29] #228 closed

[2017-12-10 19:46] mimmi20 commented on #229
@JordyZomer Any news?

[2017-12-10 19:49] mimmi20 commented on #179
@jaydiablo May we close this issue?

[2017-12-10 19:50] mimmi20 commented on #10
@asgrim May we close this issue?

[2017-12-10 20:22] asgrim commented on #10
@mimmi20 we already replaced with PSR simple cache, right?

[2017-12-10 20:58] mimmi20 commented on #10
Yes, in V4.

[2017-12-10 21:46] asgrim commented on #10
Ok great, yes this can be closed. Thanks!

[2017-12-10 21:46] #10 closed

[2017-12-11 19:15] jaydiablo commented on #179
I'm not sure, without modifying the parser (which hasn't been done), the issue will always remain, and would require constant maintenance to compare `browscap-php` and `get_browser` on new useragents as they're found.

I don't know off-hand how often this happens with current useragents, but I could look at some comparisons of recent lists that I have collected.

[2017-12-12 14:27] #226 closed

[2017-12-28 09:13] Slamdunk commented on #191
Ping @asgrim

[2017-12-28 10:03] asgrim commented on #191
Symfony 4 is already supported in `master`, just use that for now, we'll do a release soon I'm sure

[2017-12-29 10:45] asgrim commented on #191
Fixed with #232

[2017-12-29 10:45] #191 closed

[2017-12-29 10:47] #210 closed

[2017-12-29 10:47] asgrim commented on #210
Closing as nothing useful was added recently, assuming this has been resolved.

[2017-12-29 10:47] asgrim commented on #229
Closing due to inactivity.

[2017-12-29 10:47] #229 closed

[2018-01-07 19:19] mostafasoufi opened #238 "Alternative method for getSourceVersion()"
Hi Guys,

We've used this method in v2.1.1 and after upgrade to 3.1.0, this method removed.
Which method can I use instead?

Thank you.

[2018-01-07 20:00] mimmi20 commented on #238
Actually there is no alternative function. What do you want to do with this function?

[2018-01-07 20:16] mostafasoufi commented on #238
Please see [this section](https://github.com/wp-statistics/wp-statistics/blob/2995e2b182d9f4fc15bfc78d4c9c13be557ae3d4/includes/classes/class-wp-statistics-updates.php#L228), We want to update the Browscap database if the database is available. (I'm not sure this method is correct)

Thank you.

[2018-01-07 21:26] mimmi20 commented on #238
Please use the `BrowscapUpdater` class and call the function `update`. This function will check, if a new version is available and updates the cache. You dont need to do this by yourself.

[2018-01-07 21:27] mimmi20 commented on #238
By the way, why dont you use the new version 4?

[2018-01-08 05:37] mostafasoufi commented on #238
Thank you for providing the method. I'll be using this method.

Unfortunately, We can't be using this version, Because many of our users use the PHP 5.6 version.

[2018-01-08 05:37] #238 closed

[2018-01-08 20:11] mostafasoufi opened #239 "Custom directory for cache not working in v3.1.0"
Hi Guys,

I've used the adapter to define custom directory for cache but the files stored in `vendor/browscap/browscap-php/resources`

My code:

[code]

Thank you.

[2018-01-08 20:12] asgrim commented on #239
Please try with version 4.x series, the caching was replaced completely...

[2018-01-08 20:14] mostafasoufi commented on #239
Unfortunately, we can't be using the v4 because our users using the PHP 5.6.

[2018-01-08 20:34] mostafasoufi commented on #239
We using the Browscap library in our [WP-Statistics](https://wordpress.org/plugins/wp-statistics/) plugin
 and there are many users at the moment (+400,000) and we, unfortunately, can not use version 4.

Have an idea?

[2018-01-08 20:37] asgrim commented on #239
ah, frustrating. @mimmi20 any ideas?

[2018-01-08 20:37] asgrim commented on #239
maybe #226 helps?

[2018-01-08 20:39] mostafasoufi commented on #239
I've seen before to open issue :))

[2018-01-08 20:49] jaydiablo commented on #239
I believe you need to set the cache on the `BrowscapUpdater` object, not on the `Browscap` object, for the different file location to be used during the update.

[code]

Technically you don't need to instantiate the `Browscap` class in this case (I'm assuming this code just updates the browscap files), unless you're planning to do UA parsing later in the same file.

The cache adapter will need to

[2018-01-09 18:06] mostafasoufi commented on #239
Doesn't work, I think there is no way to define the custom directory in this version. But we skip this issue because the upgrade to v4.0 is the only solution to fix that.

Thank you.

[2018-01-09 18:06] #239 closed

[2018-01-13 19:57] mostafasoufi opened #240 "Allowed Memory Size in update the database"
Recently, our users receive Allowed Memory Size error to update the database. Is there a way to restrict memory?

[2018-01-14 14:57] mimmi20 commented on #240
You could switch to not use the full file.

If the two steps "creating the cache" and "using the cache" are placed in the same process, you should think about splitting this, but I dont know how to do this with wordpress.

[2018-01-14 15:00] mimmi20 commented on #240
@mostafasoufi Please request more information from your users. As I remember your WP-Plugin switched from browscap-php v2 to v3 not long ago. The old version should not have required less memory.

[2018-01-14 18:01] mostafasoufi commented on #240
Yes, We switched from v2 to v3. We have a function for download Browscap and then create the cache.

It's a good solution if we splitting the processes. To confirm this job, in the below code how can do it?

[code]

[2018-01-14 21:07] mimmi20 commented on #240
@mostafasoufi In your sample you only update the cache, but you don't do any detections.

[2018-01-15 17:23] mostafasoufi commented on #240
We using the sample code to get browser in front-ent:

[code]

But, getting the error:
[code]

[2018-01-15 17:54] jaydiablo commented on #240
Just like in your update script, you'll have to specify the location of the cache:

[code]

[2018-01-15 18:27] mostafasoufi commented on #240
Thank you @jaydiablo,

Worked fine.

[2018-01-15 18:27] #240 closed

[2018-01-23 11:26] lode opened #241 "`check-update` command should return a sensible exit code"
Is there an automated way to test for a new version? Right no I use `browscap:check-update` but that seems to output only something human-readable:

[code]

Or:

[code]

It would be great to test the output of these comments from a script. Now I always execute a memory-heavy `browscap:convert` because I don't know whether it is needed.

[2018-01-23 12:19] mimmi20 commented on #241
Please use the `browscap:update` command. It checks if a new versions is availble and updates the cache if needed.

[2018-01-23 16:31] lode commented on #241
Thanks @mimmi20!

The readme states this doesn't work on corrupted cache. Is that something that can happen regularly? And what happens if the cache gets corrupted. Does the library crash, or just don't give correct results? How would I know the cache is corrupted?

[2018-01-23 20:18] mimmi20 commented on #241
@lode The cache gets corrupted when the process breaks during cache creation e.g. because reaching the memory limit. When the cache gets corrupted you dont get correct results, but the library should not crash.

[2018-01-23 21:46] lode commented on #241
That sounds good, thanks!

[2018-01-29 20:17] codeaid opened #242 "Tag the latest version"
Is there a plan to tag the current changes any time soon?

Currently, when using this library with PHP 7.2, `composer` actions require adding the `--ignore-platform-reqs` flag every time you want to install/update/require something.

I see that a fix was committed to `composer.json` file a while ago, however the latest `4.0.0` tag still points 11 commits back from the HEAD.

Thanks!

[2018-01-29 20:27] mimmi20 commented on #242
@asgrim Could you answer this?

[2018-01-30 09:53] asgrim commented on #242
Now that we released Roave/DoctrineSimpleCache with PHP 7.2 support, I think we can tag this :+1:

[2018-01-30 10:01] asgrim commented on #242
Release https://github.com/browscap/browscap-php/releases/tag/4.1.0 is now out :+1:  thanks!

[2018-01-30 10:01] #242 closed

[2018-01-30 19:48] codeaid commented on #242
Thanks! That fixed it.

For those still having issues, just doing `composer update browscap/browscap-php` isn't enough. It causes the following error:

[code]

The solution to that is to manually force the update of the dependency by running `composer update browscap/browscap-php roave/doctrine-simplecache`. That runs with no issues and updates the Roave library to v2.1.1.

[2018-04-11 11:49] iruzevic opened #243 "Fatal error"
Hy I have tried to load browscap using composer and followed the readme and i got

Xdebug: Fatal error: Uncaught ArgumentCountError: Too few arguments to function BrowscapPHP\Browscap::__construct(), 0 passed in

[2018-04-19 09:50] alex-nesterov commented on #243
so now browscap requires 2 params, but readme not updated.
`/**
     * Browscap constructor.
     *
     * @param \Psr\SimpleCache\CacheInterface  $cache
     * @param LoggerInterface $logger
     */
    public function __construct(CacheInterface $cache, LoggerInterface $logger)
    {
        $this->cache = new BrowscapCache($cache, $logger);
        $this->logger = $logger;

        $this->format

[2018-05-04 15:59] andram81 opened #246 "Missing definition for Chromium 66.0"
lite_php_browscap not recognize last version (66.0) of Chromium browser version.

[2018-05-04 18:13] mimmi20 commented on #246
@andram81 Please move this issue to the repo browscap/browscap.

[2018-06-02 12:58] michalrames opened #247 "Misleading browser info due to incomplete programmatical update for PHP_INI_FULL"
No matter how many times I try purging and repopulating the cache, I always end up getting the following (one or more) message(s) in my app log: `cache key "browscap.iniparts.a8d" not found` (where the last triplet varies depending on which piece is missing). This is observed only with invoking BrowscapUpdater from my app, the CLI script seems to work well.

This results in a generic browser info,

[2018-06-02 14:38] mimmi20 commented on #247
Did you get any errormessages in your log during the update?

[2018-06-02 23:38] michalrames commented on #247
@mimmi20 I did not, I should have mentioned that in my original post. Here's the log output for update (this one is with memcached so it's fairly swift; filecache takes a few minutes to populate):

    [2018-06-02 09:29:56] slim-app.DEBUG: started fetching remote file [] {"uid":"3908611"}
    [2018-06-02 09:29:57] slim-app.DEBUG: finished fetching remote file [] {"uid":"3908611"}
    [2018-06-02 0

[2018-06-03 00:47] michalrames commented on #247
Update - looks like I'm able to populate the filecache completely using the CLI script. I am updating the issue description.

[2018-06-05 13:22] mimmi20 commented on #247
@michalrames Could you post the code snipped, where you are calling browscap?

[2018-06-05 13:23] mimmi20 commented on #247
The Cli script checks if the cache is already built and if a new version is available.

[2018-06-08 05:37] michalrames commented on #247
In my original post I described the scenario as purging the cache - by this I mean I manually delete all cache contents. The BrowscapUpdater as well as the CLI script get a fresh start every time.

Here you go, doesn't give you much more detail than in the original post.

[code]

[2018-06-08 06:55] mimmi20 commented on #247
@michalrames In this code you get the error?

[2018-06-08 06:56] mimmi20 commented on #247
@michalrames I looked into the code. The message you got, is a `debug` message, not an error.

[2018-06-08 07:02] mimmi20 commented on #247
@michalrames Could you also post the code snipped, where you are calling browscap for detecting and some useragents?

[2018-06-08 10:45] michalrames commented on #247
No. In the actual detection (see snippet below).

---

Yes, it is a debug message. However it is related to the malfunction of browser detection. I am able to replicate the issue by intentionally setting short PHP execution time. Then, more cache pieces are missing and I'm getting something like this:

[code]
... which causes (even one single missing part) the browscap output to become this:

[cod

[2018-06-08 11:10] mimmi20 commented on #247
Two Questions:

1. Do you use the same cache object for updating and detecting (same cache type and location)? The CLI function uses a file cache.
2. Did you forget to use the `$user_agent` variable in the `($browscap->getBrowser()` call?

[2018-06-08 11:16] michalrames commented on #247
As far as I can tell, yes. I tested was able to replicate the issue with seemingly incomplete programmatically update separately with `\Doctrine\Common\Cache\FilesystemCache` and with `\Doctrine\Common\Cache\MemcacheCache`

The proof that CLI update works is based on filecache, I wasn't even thinking of populating memcached with the CLI utility.

Nope, I'm printing the user header in the output fo

[2018-06-08 13:02] mimmi20 commented on #247
Thats not possible. The CLI tool uses a file cache internally, and you can't change this.

Please make sure, that you use the same cache for both processes. Otherwise you will get no results.

[2018-08-19 15:40] #246 closed

[2018-08-19 15:41] mimmi20 commented on #247
@michalrames Do you still have this issue?

[2018-08-19 15:55] mimmi20 opened #248 "Remove some direct dependencies"
Actually we have some direct dependencies to Symfony's CLI application and to the Doctrine Cache.

If the CLI functions are not required or a different Cache should be used, these dependencies just blow up the required space.

I would like to remove these libraries as direct dependencies and move them to the dev-dependencies and the suggest section.

[2018-08-19 15:55] mimmi20 commented on #248
@asgrim @jaydiablo Any comments?

[2018-08-19 15:59] mimmi20 opened #249 "Remove validation"
Actually inside this library the values from the ini files are validated.

To implement issue browscap/browscap#1888 this validation have to removed.

Important notice: This validation is also in the version 3 available and should be removed there too.

[2018-08-19 15:59] mimmi20 commented on #249
@asgrim @jaydiablo Any comments?

[2018-08-20 11:23] Sirgalas opened #251 "there is no active cache available, please use the BrowscapUpdater and run the update command"
I connect your library
do
`vendor / bin / browscap-php browscap: fetch 'redis', / var / www / site.loc / php_browscap.ini`
and
`vendor / bin / browscap-php browscap: convert`

here is the code

[code]
getting an error

P.S. so `vendor / bin / browscap-php browscap: update` also tried the same effect

[2018-08-20 11:49] mimmi20 commented on #251
The CLI commands use a file cache.

[2018-08-20 11:51] mimmi20 commented on #251
Please call before `getBrowser`:
[code]

[2018-08-20 11:54] mimmi20 commented on #251
This creates a cache directory with the name 'redis'

[2018-08-20 13:35] Sirgalas commented on #251
вот такой код
[code]
привел к такой ошибке

[2018-08-20 14:18] mimmi20 commented on #251
Please split this script into 2 pieces.

1. First for updating the cache. You may need up to 500MB Ram. You should run this script once a month.
2. Second for detecting. you need less Memory.

[2018-08-20 21:01] Sirgalas commented on #251
How does cron only work through cli scripts?

[2018-08-20 21:38] mimmi20 commented on #251
You may call a php file in a cron.

[2018-08-21 05:46] Sirgalas commented on #251
in the file should be only this code?
[code]

[2018-08-21 06:09] mimmi20 commented on #251
Plus the full configuration for the cache.

[2018-08-21 11:50] Sirgalas commented on #251
By itself. Thank you. Can be closed

[2018-08-21 12:05] #251 closed

[2018-08-21 15:44] asgrim commented on #249
Discuss [upstream](https://github.com/browscap/browscap/issues/1888) first, let's decide there and then see how this affects us in browscap-php

[2018-08-21 15:45] asgrim commented on #248
On one hand, having a default setup bundled can be useful... on the other hand, if someone wants to use different implementations, it is indeed unnecessary.

If we _were_ to remove them (and move them to `require-dev` and `suggest`) then we'd need to update the installation docs to state clearly that a cache implementation is needed, and this would be a BC break.

[2018-08-22 06:49] mimmi20 commented on #248
For info: This is related to ua-parser/uap-php#45.

[2018-08-22 06:51] mimmi20 commented on #248
@asgrim I would have nothing again bumping to version 5.

[2018-08-22 06:52] mimmi20 commented on #248
For info: There I use browscap-php with a Zend-Cache-Bridge: [mimmi20/browscap.de](https://github.com/mimmi20/browscap.de)

[2018-08-22 07:19] asgrim commented on #248
Bumping major is fine with me too ;)

[2018-08-22 07:19] asgrim commented on #248
Is there anything unreleased at the moment?

[2018-10-24 08:31] #241 closed

[2018-11-06 17:49] cihantas opened #252 "No $return_array option."
https://github.com/browscap/browscap-php/blob/6ab240a1c0f8a94a4838f9c7296a510f4afbab1a/src/Browscap.php#L103-L104

There's not parameter $return_array that I can pass to `->getBrowser()`. Is this a bug or am I missing something?

[2018-11-06 18:14] jaydiablo commented on #252
I think this is probably just a documentation issue (looks like that parameter was removed long ago. It was in the 2.0 implementation: https://github.com/browscap/browscap-php/blob/2.x/src/phpbrowscap/Browscap.php#L297 but was removed by the first alpha version of the 3.0 release: https://github.com/browscap/browscap-php/blob/3.0.0-alpha.1/src/Browscap.php#L285)

Since `getBrowser` returns a `stdC

[2018-11-06 19:30] #252 closed

[2018-11-23 08:30] sweiguny commented on #210
i have to warm up the topic...

i am facing the same issue. i was installing the browscap via composer:

    C:\xampp\htdocs\Test>composer require browscap/browscap-php
    Using version ^4.1 for browscap/browscap-php
    [... further composer output ...]

    C:\xampp\htdocs\Test>vendor\bin\browscap-php browscap:fetch

    C:\xampp\htdocs\Test>echo Exit Code is %errorlevel%
    Exit Code is 0

so

[2018-11-23 08:42] sweiguny opened #255 "vendor\bin\browscap-php browscap:fetch didn't output anything"
i am facing the issue, that i have no ini file fetched - at least i can't find it.
i was installing the browscap via composer:

    C:\xampp\htdocs\Test>composer require browscap/browscap-php
    Using version ^4.1 for browscap/browscap-php
    [... further composer output ...]
so i've got the last browscap version from composer...
and then ran the fetch command..
    C:\xampp\htdocs\Test>vendor\b

[2018-11-23 08:46] mimmi20 commented on #255
@sweiguny please run `vendor\bin\browscap-php browscap:fetch -vv` or `vendor\bin\browscap-php browscap:fetch -vvv`. If you see something in the output, please post it here.

[2018-11-23 08:51] sweiguny commented on #255
that is the output:

    C:\xampp\htdocs\Test>vendor\bin\browscap-php browscap:fetch -vvv
    [info] started fetching remote file
    [debug] started fetching remote file
    [debug] finished fetching remote file
    [debug] started storing remote file into local file
    [debug] finished storing remote file into local file
    [info] finished fetching remote file

i've already found the ini, sinc

[2018-11-28 19:50] mtstedman opened #256 "Issue following system reboot (nginx)"
Following any system restart I get the following error thrown on every click:

PHP Fatal error:  Uncaught Crossjoin\\Browscap\\Exception\\ParserRuntimeException: There is something wrong with the parser. The data have been re-generated without errors, but the reader still requires an update of the data... in ..../vendor/crossjoin/browscap/src/Browscap.php:183\nStack trace:\n#0 ..../vendor/crossjoi

[2018-11-28 19:53] mtstedman commented on #256
Running nginx + php 7.2 (fpm)

[2018-11-28 20:10] mimmi20 commented on #256
You are not using our browscap parser. Please ask [here](https://github.com/crossjoin/Browscap) for help.

[2018-12-01 18:15] #256 closed

[2019-01-18 08:53] #255 closed

[2019-01-18 21:48] sweiguny commented on #255
Great!

[2019-03-25 20:35] mimmi20 commented on #249
@asgrim @jaydiablo I would like to remove the validation here independent from issue browscap/browscap#1888.

I found some devices like a smart fridge, a printer and smart speakers, we actually can not add because its not possible to a good device type.

sample useragents:
Mozilla/5.0 (Linux; U; Android 2.2; xx; HP eStation/1.0) AppleWebKit/533.1 (KHTML, like Gecko) Version/4.0 Mobile Safari/533.1

[2019-03-25 20:37] mimmi20 commented on #247
@asgrim May we close this issue?

[2019-03-25 21:45] jaydiablo commented on #248
There are hard dependencies on Doctrine Cache and Symfony CLI. I can understand the CLI one being optional, since if that code isn't used by the user, it doesn't make sense to include it, but for the Doctrine Cache, use of those symbols seems to be directly in the code, would branches need to be added to detect the existence of those classes?

I also noticed that there are a couple of other "hard"

[2019-03-26 13:37] #247 closed

[2019-08-01 19:44] ArianeNubee opened #260 "All browsers showing up as Unknown"
I installed browscap-php 4.2 with Composer. I've updated my cache with the shell command provided. But all browsers are 'Unknown'. For example, Firefox outputs this:

[code]

Here is how I initialize Browscap:

[code]
Am I doing something wrong?

[2019-08-02 06:38] mimmi20 commented on #260
@ArianeNubee Could you add the original useragent?

[2019-08-02 06:39] mimmi20 commented on #260
@ArianeNubee Did you get any error messages?

[2019-08-02 12:33] ArianeNubee commented on #260
Actually, yes, I do! I was ignoring them since they disappeared after one refresh every time, but this error shows up every morning the first time I load the site:

As for the user agent, here you go :

[2019-08-02 20:46] mimmi20 commented on #260
Please dont do the update and the parsing in the same script. Updating the cache requires a lot of memory and time, and the browscap only updates once a month.
And if you fetches the browscap too often, you wil blocked.

[2019-08-02 20:54] ArianeNubee commented on #260
Is that what happened here? Am I blocked?

But isn't it strange that it couldn't update even once?

[2019-08-03 07:38] mimmi20 commented on #260
Please split your script into two, one for updating and one for parsing. Then increase you your timeout, memory limit in the update script. Please test if can connect to browscap.org.

[2019-08-05 13:21] ArianeNubee commented on #260
I split the scripts. The update script completes rather quickly.

I also tried connecting to "http://browscap.org" with in PHP with cURL and had no issues doing so. The browser is still unknown.

If it's relevant, I'm working on a [VVV](https://github.com/Varying-Vagrant-Vagrants/VVV) Vagrant machine.

[2019-08-05 13:56] mimmi20 commented on #260
Did you increse the timeout for the PHP script and curl? Do you get errors?

[2019-08-05 15:18] ArianeNubee commented on #260
No errors. I tried increasing the execution time and memory, but it wasn't very relevant since the script takes about 1 second to load to begin with. There are no errors.

As for cURL, I'm not sure how I could do that, since the cURL call for updating, I guess, happens within your code, and curl_setopt requires a cURL handle variable. I did, however, increase it for my test call, and it didn't cha

[2019-08-05 16:25] jaydiablo commented on #260
What does `$data` contain after that finishes?

[2019-08-05 19:08] ArianeNubee commented on #260
Problem solved guys.

Somehow my cache must've gotten corrupted. I just deleted the whole cache folder and everything works now.

[2019-08-14 12:46] vchebotarev opened #261 "Dependency injection problem"
Hello. I have a task to download ini file from another url, because in case of specific download frequence my server can be banned by ip.
So the only way to use this lib and download ini from another url is to change `\BrowscapPHP\Helper\IniLoader::REMOTE_INI_URI`
But
IniLoader is beeing created in `\BrowscapPHP\BrowscapUpdater::fetch` and `\BrowscapPHP\BrowscapUpdater::update` and `\BrowscapPHP\B

[2019-08-14 12:48] vchebotarev commented on #261
What do you think about it ?
I can easilly prepare PR

[2019-08-14 13:26] asgrim commented on #261
The files are not updated more than once a month anyway, so you can just check for updates on a cron job to run once a week for example.

[2019-08-14 14:15] vchebotarev commented on #261
i use docker containers, so every build goes with downloading ...
The main point is that there are hard dependencies between classes ... see SOLID

[2019-08-14 14:41] mimmi20 commented on #261
You could use caches like redis, memcache outside your container.

[2019-09-29 14:07] JanMikes opened #262 "Update monolog/monolog dependency"
Hello, we are using monolog/monolog package in our application.

We would love to keep packages up to date and update to version 2.0, as `composer outdated` command reports
[code]

But because of this:
[code]
we are unable to.

[2019-10-14 15:15] #260 closed

[2019-10-18 06:00] My1 opened #264 "why all those dependencies in recent versions?"
sorry to ask but I would honestly love to know how this blew up from a 47KB single PHP file which just works to a >20MB behemoth with SEVENTY-NINE dependencies (according to composer, which said that it has 79 installs)?

I mean for example, guzzlehttp, is curl, or even simpler file_get_contents() l not enough?
<details>
<summary>here's the list I got from composer:</summary>

[code]
</details>

[2019-10-18 06:52] mimmi20 commented on #264
You must have a very old version before when it was a single php file.

The most of these dependencies are only for development.

[2019-10-18 07:28] My1 commented on #264
yep, 2.1.1, because it just works and is easy to use. if you have enough RAM at hand.

if most of the reqs are dev anyway why not just install them if using a flag like saying for example `composer install --dev`

[2019-10-18 07:30] asgrim commented on #264
Feel free to fork, or continue using the unsupported `2.x` series. Thanks!

[2019-10-18 07:30] #264 closed

[2019-10-22 18:06] Fellzo opened #265 "Allow 7.4"
Need to allow installation for php 7.4

[2019-10-22 18:45] mimmi20 commented on #265
@Fellzo Please request this in our dependency project `roave/doctrine-simplecache`.

[2019-10-23 13:35] asgrim commented on #265
Blocked by upstream issue: Roave/DoctrineSimpleCache#32

[2019-10-29 07:59] mimmi20 commented on #265
The changes in the the `roave/doctrine-simplecache` project remove the support for PHP 7.1. This is a BC.

[2019-10-29 08:38] asgrim commented on #265
This is not a BC break, it is only a dependency upgrade. Since this is a library, when `composer update` is run, the consumer will find whichever compatible `browscap/browscap-php` and `roave/doctrine-simplecache` combination works for their PHP version.

[2019-10-29 08:38] asgrim commented on #265
Further reading, see : https://github.com/Ocramius/PackageVersions/issues/105#issuecomment-514662205

[2019-12-06 16:34] Tadaz opened #271 "Symfony 5 compatibility issues"
It is not possible to install _browscap_ package on the current Symfony 5 version.

While trying to run:
`composer require browscap/browscap-php`

I get this error:
[code]

[2019-12-07 20:31] mimmi20 commented on #271
@Tadaz Could you open a PR for this?

[2019-12-11 23:01] kanidjar commented on #265
hello @mimmi20 @asgrim, any update please?

```roave/doctrine-simplecache``` now allows PHP 7.4.

[2019-12-15 08:10] #265 closed

[2019-12-18 15:41] #271 closed

[2019-12-18 15:42] Tadaz commented on #271
The new version of package fixed this issue.

[2019-12-28 03:47] imarkdesigns opened #284 "browscap detect visitor browser as google bot"
I would like to know if this is usual and accurate activity of the browscap. I have recent visitors who went downloading my client's brochure guide and when we check who are those visitors, it result(s) that the browser is Google Bot, and the platform is unknown. However, they provide correct email, phone number and certain info from our other questionnaires of the form. We also have anti-spam hon

[2019-12-28 09:02] mimmi20 commented on #284
@imarkdesigns Please add the useragent from these requests, and please explain how do you do the bot detection.

[2020-01-08 20:24] joeyhub opened #291 "Instruction don't work."
[code]

Where does $doctrineFileCache come from?

[2020-01-08 20:31] asgrim commented on #291
You must provide a PSR-16 compatible cache, as per the instructions. It's up to you which you use. Not sure if we include a default usable one @mimmi20 ?

[2020-01-08 20:37] joeyhub commented on #291
Instructions with mystery dependencies so they don't work out the box are really frustrating.

If someone has the doctrine/cache package then `new \Doctrine\Common\Cache\ArrayCache()` can be used to at least be able to straight test it (though it's a rubbish cache for production use).

I just want to see how well it performs on a cache miss though.

[2020-01-08 20:46] joeyhub commented on #291
I'm getting more confused now because it still wants some caching.

There's this hidden away:

`$fileCache = new \Doctrine\Common\Cache\FilesystemCache($cacheDir);`

But no explanation of $cacheDir.

There are fetch and convert commands with no explanation or where they drop things or what they do.

[2020-01-08 20:49] joeyhub commented on #291
```new \Doctrine\Common\Cache\FilesystemCache(__DIR__ . '/vendor/browscap/browscap-php/resources');```

Can there be some instruction and static method or something to get the path same as the CLI uses and then use that in the default?

Should be something like BrowsCap::getCacheDir()  which will be the ones dropped by fetch and convert or if it's able to instantiate it's own cache with cli someth

[2020-01-08 20:51] joeyhub commented on #291
For the curious... Cost of a cache miss with a malicious user agent was 3.5 seconds, much better at least than the JS implementation which takes 40 seconds or more.

[2020-01-08 21:09] asgrim commented on #291
Thanks!

[2020-01-08 21:09] #291 closed

[2020-01-08 21:26] mimmi20 commented on #291
We dont implement a default cache. For the test we use the DoctineCache via a bridge.

[2020-01-13 23:11] imarkdesigns commented on #284
Currently using the browscap-php full version. using query_var of WPForms plugin I pass the variable coming from the browscap function.

[code]

output will be like this.

![Screen Shot 2020-01-14 at 7 10 00 AM](https://user-images.githubusercontent.com/1100419/72299820-f1568a00-369c-11ea-9feb-545ec92bdfed.png)

[2020-01-14 08:50] mimmi20 commented on #284
This is a bot from Google. If you follow the link in the useragent, you should get some information about the bot.

[2020-01-14 08:57] mimmi20 commented on #284
You should be aware of some things:
- Bots may be able to fill out forms
- The native `get_browser` function is really slow. You should use this library or an existing browscap wordpress plugin.

[2020-01-14 08:57] #284 closed

[2020-06-19 11:14] littleant opened #314 "Upgrade monolog-dependency to 2.x"
Hi,

I'm unable to install another dependency with composer, because it uses monolog 2.1.
browscap currently allows monolog "^1.25.3 || ^2.0.2" which does not allow the newer monolog-version to be installed.

Can you please upgrade the dependency to monolog 2.1 so I'm able have both dependencies installed at the same time?

Thank you very much!

[2020-06-19 19:01] mimmi20 commented on #314
@littleant Why not? As long you dont try to install monolog 3, it should be possible. Couldd you add the error message from composer?

[2020-06-19 19:32] asgrim commented on #314
`^2.0.2` allows compatibility with `2.1.*` already. It means "anything semver-compatible at 2.0.2 or above". Not sure this is `browscap/browscap-php` causing the conflict? As @mimmi20 said, posting the full composer conflict messages may help us point you in the right direction 👍

[2020-06-20 08:58] littleant commented on #314
Sorry, I read the output wrong.
This seems to be a problem with my understanding of composer, not `browscap`.

I tried to install the [wirecard-sdk](https://github.com/wirecard/paymentSDK-php).
The SDK requires `"monolog/monolog": "^1.16"`

I can't figure out, why it doesn't resolve to `monolog/monolog 1.25.2`.
Both, `browscap` and `paymend-sdk-php` support this version.

Here's the output:

I the

[2020-06-20 08:58] #314 closed

[2020-06-20 09:00] asgrim commented on #314
No problem at all, glad you fixed it! Dependency issues can be tricky to understand 🙂

[2020-07-05 22:15] vladyslavstartsev opened #315 "update guzzle requirements"
Since guzzle 7 is out I think it will be cool to support it here, in this package.

[2020-08-17 16:10] #315 closed

[2020-08-17 16:28] asgrim opened #318 "Add github actions instead of Travis CI"
We've migrated browscap-site and browscap itself to GH actions for the CI build, so we should do the same here eventually.

[2020-10-11 22:13] andrei-dascalu opened #319 "No active cache available, please use the BrowscapUpdater and run the update command"
Hello,

This is more of a question, as I've follow the instructions to jumpstart my Browscap instances as such:

[code]

where Redis driver is an instance of \Redis class, wrapped in Symfony Cache adapter using the Psr16 compatibility layer (but for the record, I've got the exact same issue with any cache I've tried, including Laminas or even Doctrine Array cache).

I've tried both methods to get

[2020-10-12 05:39] asgrim commented on #319
Hmm, not sure without more information; try checking for errors in logs, also check the contents of the cache after you do the update perhaps? Btw Doctrine Array cache doesn't persist so won't work anyway - it must be a cache that persists.

[2020-10-12 06:21] mimmi20 commented on #319
before you can use Browscap you have to build the cache with the BrowscapUpdater.

[code]

[2020-12-15 14:35] duxthefux opened #320 "Add support for PHP 8 // Project still alive?"
Hello,

I wanted to ask whether this project is still alive and we want to bring in support for PHP 8?

Thanks for info.

[2020-12-15 14:36] asgrim commented on #320
Yes indeed, this project is still alive and well :) We'd be happy to take a PR to add PHP 8 support - I haven't tried it yet! :+1:

[2020-12-15 15:13] duxthefux commented on #320
I prepared a PR (https://github.com/browscap/browscap-php/pull/321) and run it locally with PHP 8.0.0 which runs fine!

[code]

[2020-12-15 16:48] asgrim commented on #318
Since Travis has stopped builds for Open Source, this is now pretty important and blocks any merges realistically; need to get GH Actions migrated...

[2020-12-17 13:29] duxthefux commented on #318
@asgrim can I help somewhere?

[2020-12-17 15:29] asgrim commented on #318
Sure; we just need to move what used to be the Travis CI build and translate that into a GH actions CI pipeline (example from another project: https://github.com/browscap/browscap/blob/6.0.x/.github/workflows/continuous-integration.yml )

[2020-12-17 15:46] duxthefux commented on #318
@asgrim ok, is there anything which needs to be configured in github UI for this repository or will it work out of the box once the the file is detected?

[2020-12-17 15:48] asgrim commented on #318
No, it should "just work" (tm) :grin:

[2020-12-17 19:11] duxthefux commented on #318
https://github.com/ready2order/browscap-php/runs/1571514162?check_suite_focus=true

I did a quick POC. Will finish it today or tomorrow.

any objections?

[2020-12-17 20:08] asgrim commented on #318
@duxthefux yes that's looking along the right lines (& quickly checked further additions).

Feel free to open a draft PR and I can add comments there :)  A few bits of feedback in the meantime, matrix needs to have all PHP versions 7.1 through 8.0, and a combination of "lowest" (adds `--prefer-lowest` to the `composer update`) and "highest" (performs regular `composer update`) and "locked" (perfor

[2020-12-17 20:09] asgrim commented on #318
Oh, we can probably drop `fail-fast: true` :)

[2020-12-17 20:44] duxthefux commented on #318
@asgrim I drafted a PR, please feel free to check it.
This is the green pipeline.

Do you mind adjusting it to your thoughts you mentioned?

[2020-12-18 21:58] #318 closed, assigned to nobody

[2020-12-18 21:58] #320 closed, assigned to nobody

[2021-01-12 09:08] asgrim opened #334 "Use `doctrine/coding-standard` for applying CS"
Use `doctrine/coding-standard` for applying CS - lets make it consistent across all the Browscap projects. Less maintenance our side if we just apply a known standard etc.

[2021-09-15 09:47] WarHead opened #401 "broken php full browscap"
the full php browscap is broken. half of it's size.

[2021-09-15 10:11] asgrim commented on #401
Please can you check the following? Your download may be incomplete:

[code]

If you don't see the above, please try downloading it again.

[2021-09-15 11:21] WarHead commented on #401
https://browscap.org/stream?q=Full_PHP_BrowsCapINI downloaded here to test manual and my script leeches always there wget -a $varlogd -v -6 -O $TARGET https://browscap.org/stream?q=Full_PHP_BrowsCapINI - both are only about 45k instead of nearly 100k.

just recognized: same links on the homepage and within my script. ;)

[2021-09-15 11:46] asgrim commented on #401
The server is operating correctly, not sure what else to suggest here, except something your side. I simply downloaded the ini with Firefox and it is correct.

[2021-09-15 13:10] WarHead commented on #401
did it so. strange... on my debian server it is only about 45k and even with firefox download it has only 45k... :-(

[2021-09-15 13:14] WarHead commented on #401
hope you can get it: https://drive.google.com/file/d/1JXCPH1dvndOQifI0KM6UOZxI6oTZpHe5/view?usp=sharing that's what i get.

[2021-09-15 13:15] asgrim commented on #401
I've cleared the Cloudflare cache, could you try again? No idea if it'll make any difference.

[2021-09-15 13:17] WarHead commented on #401
yeah! that's it! thank you! now it is the full file size.

[2021-09-15 13:18] asgrim commented on #401
Weird! Glad it's sorted :+1: thanks

[2021-09-15 13:18] #401 closed, assigned to asgrim

[2021-09-19 23:09] WarHead commented on #401
same problem again...

[2021-09-21 15:16] asgrim commented on #401
@WarHead you shouldn't need to download it again, nothing has changed ;) please ensure you check the `/version` endpoint and only download the file when the version changes. Anyway, I purged the cache again :+1:

[2021-09-22 01:13] WarHead commented on #401
My Debian-Server leeches every night the latest version via cronjob. The problem with the wrong length of the file is new. It never happend before my bug report. May be I should change the interval of the cronjob to monthly. 😉

[2021-09-22 05:01] asgrim commented on #401
You should only download the ini file if the version endpoint changes 😉

[2021-09-22 06:29] WarHead commented on #401
yeah, may be. but therefore I had to write a parser for the browscap homepage and I've no desire to do so. ;) I'm a lazy old man. ;)

[2021-09-22 07:32] asgrim commented on #401
What language are you using? There's plenty of existing options already which handle this?

[2021-09-22 07:39] WarHead commented on #401
i would do it simple as linux script. where could i get ready ones?

[2021-09-22 07:49] asgrim commented on #401
Check out https://github.com/browscap/browscap/wiki/Using-Browscap for a few implementations, typically people use one of these if they're using a language

[2021-09-22 08:52] WarHead commented on #401
great, thx!

[2021-12-08 09:16] #319 closed, assigned to nobody

[2021-12-08 09:17] asgrim commented on #319
Closing as no feedback.

[2021-12-08 09:17] asgrim commented on #261
Closing as no feedback.

[2021-12-08 09:17] #261 closed

[2021-12-11 16:07] #334 closed, assigned to nobody

[2022-01-06 21:46] sanchezzzhak commented on #291
I also came across an incomprehensible example, so I'm sharing a completely ready-made example.

[code]

[2022-02-22 21:40] poldon opened #416 "Update symfony/console to 6.x."
Hi,

  I'm attempting to use browscap-php in my project, but another package I use requires symfony/console 6.x.  Would you mind adding 6.x as an option so I can use your package?  Thanks!

[2022-02-23 09:15] #416 closed, assigned to asgrim

[2022-02-23 09:16] asgrim commented on #416
Symfony 6.0 support was added in https://github.com/browscap/browscap-php/releases/tag/7.0.0

[2022-04-28 11:00] j-dobr opened #432 "browscap-php is incompatible with psr/cache 3 (e.g. Symfony Cache)"
Tried to use browscap-php with Symfony 6 (symfony/skeleton) but there is dependency conflict:

[code]

Is there any way to resolve this?

[2022-06-27 22:34] designosis commented on #291
Wish I'd seen this three hours ago, instead of making a hundred failed guesses on the authors' intended method of implementing the simplest case usage. Vague and incomplete examples make non-brilliant people feel stupider.

[2022-09-26 06:45] Rubinum commented on #432
its been half a year... are there any updates? do you need help upgrading this?

[2022-09-26 06:48] asgrim commented on #432
If a patch can be made, sure, it would be welcome :+1: thanks.

Please note: we must retain support for `psr/cache:^1.0`, which I think is where the difficulty lies.

[2022-09-26 07:27] j-dobr commented on #432
That is the problem indeed - `psr/cache:^1.0` is not compatible with Symfony (symfony/cache to be specific, which is part of symfony/skeleton). And since support for `psr/cache:^1.0` must be retained, there is no solution.

Main reason for me bringing this up were release notes of v7.0.0 with #418 which made me think it should be compatible with Symfony 6, but it seems that was only about specific

[2022-09-26 07:53] #179 closed

[2022-09-26 08:44] Rubinum commented on #432
You can reproduce this issue if you

- require symfony cache 5.4
- require this project at the latest stable version
- upgrade to symfony 6.* by following the instructions mentioned in the upgrade guide.

[2022-10-14 13:09] holtkamp commented on #432
Additionally: `matthiasmullie/scrapbook 1.4.8 requires psr/cache ~1.0`

Since `matthiasmullie/scrapbook`  is a currently a hard dependency https://github.com/browscap/browscap-php/blob/c4d665a92558065e4df1647c344c63afdd91e931/composer.json#L36 this dependency also needs to support `psr/cache ^2.0 || ^3.0`

Requested this here https://github.com/matthiasmullie/scrapbook/issues/54

**Isolate the Com

[2022-11-10 10:02] nileshpawarJIEM opened #499 "Chrome versions 108 and 109 not detected using browcap"
Chrome versions 108 and 109 were not detected using browcap. It returns version 0 for them.

[2022-11-10 10:09] asgrim commented on #499
You already opened an issue in the correct repository on browscap/browscap#2734 - please don't spam. This is a library repository for PHP, and is not relevant to the data itself.

[2022-11-10 10:09] #499 closed, assigned to asgrim